:root {
  --dark-transparent: #000000e3;
  --blue-transparent: #365a99e3;
  --white-transparent: #fbfbfbe6;
  --gray-hover: #54514f;
}

.chapter{
  background-color: #86accd;
  padding-left: 10px;
  padding-right: 10px;
}
.question_obj{
  background-color: antiquewhite;
  margin-bottom: 30px;
}