{% extends 'galaxy/base.html' %}
{% load static %}

{% block custom_styles %}
<link type="text/css" href="{% static 'galaxy/css/forms.css' %}" rel="stylesheet">
<style>
h1{
    text-align: center;
}
.test{
    padding: 60px;
    color: black;
    background-color: #ffffff;
    width: 60%;
    margin: auto;
    text-align: left;
}

.hidden{
  display: none;
}
</style>
{% endblock %}

{% block content %}
<div class="test">
    <h1>Adding new tutorial file</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="test-form">
            {{ file_form.as_p }}
        </div>
        <button type="submit">Save</button>
    </form>
</div>
{% endblock %}
