{% extends 'galaxy/base.html' %}
{% load embed_video_tags %}
{% load static %}

{% block custom_styles %}
    <link type="text/css" href="{% static 'galaxy/css/tables_general.css' %}" rel="stylesheet"/>
    <link type="text/css" href="{% static 'galaxy/css/show_groups.css' %}" rel="stylesheet"/>
    <link type="text/css" href="{% static 'galaxy/css/publications.css' %}" rel="stylesheet"/>
{% endblock custom_styles %}

{% block content %}

<div class="parent">
    <div class="outer_table_head">
        <div class="empty"></div>
        <div class="table_head">
            <h1>Publications</h1>
        </div>
        <div class="empty"></div>
    </div>
</div>

<div class="parent">
    <div class="outer_part_choice">
        <div class="empty"></div>
        <div class="part_choices">
            <div class="part_choice_shell">
                <div class="part_choice">
                    <input style="display: none;" type="radio" id="Articles" name="cat" value="Articles">
                    <label for="Articles"><span>Articles</span></label>
                </div>
                <div class="empty"></div>
            </div>
            <div class="part_choice_shell">
                <div class="part_choice">
                    <input style="display: none;" type="radio" id="Lessons" name="cat" value="Lessons">
                    <label for="Lessons"><span>Lessons</span></label>
                </div>
                <div class="empty"></div>
            </div>
            <div class="part_choice_shell">
                <div class="part_choice">
                    <input style="display: none;" type="radio" id="Methodological guidelines" name="cat" value="Methodological guidelines">
                    <label for="Methodological guidelines"><span>Methodological guidelines</span></label>
                </div>
                <div class="empty"></div>
            </div>
            <div class="part_choice_shell">
                <div class="part_choice">
                    <input style="display: none;" type="radio" id="Classroom presentations" name="cat" value="Classroom presentations">
                    <label for="Classroom presentations"><span>Classroom presentations</span></label>
                </div>
                <div class="empty"></div>
            </div>
            <div class="part_choice_shell">
                <div class="part_choice">
                    <input style="display: none;" type="radio" id="Teaching materials" name="cat" value="Teaching materials">
                    <label for="Teaching materials"><span>Teaching materials</span></label>
                </div>
            </div>
        </div>
        <div class="empty"></div>
    </div>
</div>

<div class="parent">
    <div class="table">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
            {% for file in files %}
                <tr>
                    <td scope="row">{{ forloop.counter }}</td>
                    <td>{{file.title}}</td>
                    {% if request.user.role == 'Teacher' or request.user.is_staff %}
                    <td>
                        <div style="display: inline-flex; width: 60%;">
                            <a class="btn btn5" href="{% url 'download_file' file.id %}"><span>Download</span></a>
                            <a class="btn btn5 delete" href="#" data-file-id="{{ file.id }}"><span>Delete</span></a>
                        </div>
                    </td>
                    {% else %}
                    <td><a class="single_btn" href="{% url 'download_file' file.id %}"><span>Download</span></a></td>
                    {% endif %}
                </tr>
            {% endfor %}
                {% if request.user.role == 'Teacher' or request.user.is_staff %}
                <tr>
                    <td style="border: none;"></td>
                    <td style="border: none;"></td>
                    <td style="border: none;"><a class="btn btn5 add-file-btn" href="#"><span>Add file</span></a></td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

<div class="confirmation-dialog" style="display: none;">
    <div>
        <h2>Do you really want to delete this file?</h2>
    </div>
    <div class="modal-buttons">
        <button class="multiple_btn_color btn-yes">
            <span>Yes</span>
        </button>
        <button class="multiple_btn_color btn-no">
            <span>No</span>
        </button>
    </div>
</div>

{% endblock %}

{% block javascript %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>

function filterPublications(filter_flag) {
    $.ajax({
        url: "{% url 'filter_publications' %}",
        type: 'GET',
        data: {
            filter_flag: filter_flag,
        },
        success: function(data) {
            $('.table tbody').html(data.my_content);
        },
        error: function(xhr, status, error) {
            console.error(error);
        }
    });
}

$(document).ready(function() {
    // Pre-coloring chosen category
    var currentCat = "{{current_category}}";
    $('#' + currentCat).prop('checked', true);

    // Listening for clicks on type radio buttons
    $('input[name="cat"]').change(function() {
        var filter_flag = $('input[name="cat"]:checked').val();
        updateFilters(filter_flag);
    });


    // Function to update filters and trigger filtering
    function updateFilters(filter_flag) {
        storeStateInSessionStorage(filter_flag);
        filterPublications(filter_flag);
    }

    // Function to store state in session storage
    function storeStateInSessionStorage(filter_flag) {
        var state = {
            filter_flag: filter_flag,
        };
        sessionStorage.setItem('Publications', JSON.stringify(state));
    }

    // Function to retrieve stored state from session storage
    function retrieveStateFromSessionStorage() {
        var stateJSON = sessionStorage.getItem('Publications');
        return stateJSON ? JSON.parse(stateJSON) : null;
    }

    // Function to apply stored state to the page
    function applyStoredState(state) {
        if (state) {
            $('input[name="cat"][value="' + state.filter_flag + '"]').prop('checked', true);

            filterPublications(state.filter_flag);
        }
    }

    // Apply stored state when page is loaded or navigated back to
    var storedState = retrieveStateFromSessionStorage();
    applyStoredState(storedState);
});
</script>

<script>
    $(document).on('click', '.add-file-btn', function(e) {
        e.preventDefault();
        const selectedCategory = $('input[name="cat"]:checked').val();
        const url = "{% url 'add_tutorial_file' %}?category=" + encodeURIComponent(selectedCategory);
        window.location.href = url;
    });
</script>

<script>
$(document).ready(function() {

    // Event delegation for handling click on delete buttons
    $(document).on('click', '.delete', function(e) {
        e.preventDefault();
        var fileId = $(this).data('file-id');
        // Show confirmation dialog
        $('.confirmation-dialog').show();

        // Event listener for Yes button
        $('.btn-yes').click(function() {
            deleteFile(fileId);
            $('.confirmation-dialog').hide();
        });

        // Event listener for No button
        $('.btn-no').click(function() {
            $('.confirmation-dialog').hide();
        });
    });

    // Function to delete the file via AJAX
    function deleteFile(fileId) {
        // Your AJAX call to delete the test
        $.ajax({
            url: "{% url 'delete_file' %}",
            type: 'POST',
            data: {
                'file_id': fileId,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {
                console.log('File deleted successfully');
                location.reload();
            },
            error: function(xhr, status, error) {
                console.error('Error deleting file:', error);
            }
        });
    }
});

</script>

{% endblock %}