{% extends 'galaxy/base.html' %}
{% load embed_video_tags %}
{% load static %}

{% block custom_styles %}
    <link type="text/css" href="{% static 'galaxy/css/tables_general.css' %}" rel="stylesheet"/>
    <link type="text/css" href="{% static 'galaxy/css/show_groups.css' %}" rel="stylesheet"/>
    <link type="text/css" href="{% static 'galaxy/css/tests_and_assessments.css' %}" rel="stylesheet"/>
{% endblock custom_styles %}

{% block content %}

<div class="parent">
    <div class="outer_table_head">
        <div class="empty"></div>
        <div class="table_head">
            <h1>Publications</h1>
        </div>
        <div class="empty"></div>
    </div>
</div>

<div class="parent">
    <div class="outer_part_choice">
        <div class="empty"></div>
        <div class="part_choices">
            <div class="part_choice_shell">
                <div class="part_choice">
                    <input style="display: none;" type="radio" id="Articles" name="cat" value="Articles">
                    <label for="Articles"><span>Articles</span></label>
                </div>
                <div class="empty"></div>
            </div>
            <div class="part_choice_shell">
                <div class="part_choice">
                    <input style="display: none;" type="radio" id="Lessons" name="cat" value="Lessons">
                    <label for="Lessons"><span>Lessons</span></label>
                </div>
                <div class="empty"></div>
            </div>
            <div class="part_choice_shell">
                <div class="part_choice">
                    <input style="display: none;" type="radio" id="Method" name="cat" value="Method">
                    <label for="Method"><span>Methodological guidelines</span></label>
                </div>
                <div class="empty"></div>
            </div>
            <div class="part_choice_shell">
                <div class="part_choice">
                    <input style="display: none;" type="radio" id="Presentations" name="cat" value="Presentations">
                    <label for="Presentations"><span>Classroom presentations</span></label>
                </div>
                <div class="empty"></div>
            </div>
            <div class="part_choice_shell">
                <div class="part_choice">
                    <input style="display: none;" type="radio" id="Materials" name="cat" value="Materials">
                    <label for="Materials"><span>Teaching materials</span></label>
                </div>
            </div>
        </div>
        <div class="empty"></div>
    </div>
</div>



{% endblock %}