{% load galaxy_tags %}

{% for file in files %}
    <tr>
        <td scope="row">{{ forloop.counter }}</td>
        <td>{{file.title}}</td>
        {% if request.user.role == 'Teacher' or request.user.is_staff %}
        <td>
            <div style="display: inline-flex; width: 60%;">
                <a class="btn btn5" href="{% url 'download_file' file.id %}"><span>Download</span></a>
                <a class="btn btn5 delete" href="#" data-file-id="{{ file.id }}"><span>Delete</span></a>
            </div>
        </td>
        {% else %}
        <td><a class="single_btn" href="{% url 'download_file' file.id %}"><span>Download</span></a></td>
        {% endif %}
    </tr>
{% endfor %}
    {% if request.user.role == 'Teacher' or request.user.is_staff %}
    <tr>
        <td style="border: none;"></td>
        <td style="border: none;"></td>
        <td style="border: none;"><a class="btn btn5 add-file-btn" href="#"><span>Add file</span></a></td>
    </tr>
    {% endif %}
