{% extends 'galaxy/base.html' %}
{% load static %}

{% block custom_styles %}
<link type="text/css" href="{% static 'galaxy/css/forms.css'%}" rel="stylesheet">
<link type="text/css" href="{% static 'galaxy/css/add_q_and_a.css'%}" rel="stylesheet">
<style>
h1{
    text-align: center;
}
.question{
    padding: 60px;
    color: black;
    background-color: #ffffff;
    width: 60%;
    margin: auto;
    text-align: left;
}

.hidden{
  display: none;
}
</style>
{% endblock %}

{% block content %}
<div class="question">
    <h1>Adding question</h1>
    <div class="chapter_information_block">
        <span class="chapter_information">Current chapter number: {{ chapter_obj.chapter_number }}</span>

        <span class="chapter_information">Questions in chapter: {{ sum_of_questions }}</span>
        {% if next_chapter_obj_id %}
            <a class="single_btn" href="{% url 'add_q_and_a' next_chapter_obj_id %}"><span>Next chapter</span></a>
        {% endif %}
    </div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ question_form.as_p }}
        <h3>Answers:</h3>
        {{ answer_formset.management_form }}
        <div id="answers">
            {% for answer_form in answer_formset %}
                  <div class="answer">
                      {{ answer_form.as_p }}
                  </div>
            {% endfor %}
        </div>
        <div id="empty-form" class="hidden">{{ answer_formset.empty_form.as_p }}</div>
        <button id="add-answer" type="button">Add answer</button>
        <button type="submit">Save</button>
    </form>
</div>
{% endblock %}


{% block javascript %}
<script>
  const addAnswerButton = document.getElementById('add-answer');
  const totalForms = document.getElementById('id_form-TOTAL_FORMS');

  addAnswerButton.addEventListener('click', add_new_answer)

  function add_new_answer(event) {
      if (event) {
          event.preventDefault()
      }
      const currentAnswerForms = document.getElementsByClassName('answer');
      const currentAnswerCount = currentAnswerForms.length // + 1
      const formAnswers = document.getElementById('answers')
      const copyEmptyFormEl = document.getElementById('empty-form').cloneNode(true)
      copyEmptyFormEl.setAttribute('class', 'answer')
      copyEmptyFormEl.setAttribute('id', `form-${currentAnswerCount}`)
      const regex = new RegExp('__prefix__', 'g')
      copyEmptyFormEl.innerHTML = copyEmptyFormEl.innerHTML.replace(regex, currentAnswerCount)

      // Autofill answer_number field
      const answerNumberField = copyEmptyFormEl.querySelector('#id_form-' + currentAnswerCount + '-answer_number');
      if (answerNumberField) {
        answerNumberField.value = currentAnswerCount + 1;
  }



      // Create and append the "Delete answer" button
      const deleteAnswerButton = document.createElement('button')
      deleteAnswerButton.type = 'button'
      deleteAnswerButton.innerText = 'Delete Answer'
      deleteAnswerButton.addEventListener('click', () => {
        copyEmptyFormEl.remove()
        totalForms.setAttribute('value', currentAnswerForms.length - 1)
      })
      copyEmptyFormEl.append(deleteAnswerButton)

      totalForms.setAttribute('value', currentAnswerCount + 1)
      formAnswers.append(copyEmptyFormEl)
  }

</script>

{% endblock javascript %}