{% extends 'galaxy/base.html' %}
{% load static %}

{% block custom_styles %}
<link type="text/css" href="{% static 'galaxy/css/forms.css' %}" rel="stylesheet">
<style>
h1{
    text-align: center;
}
.test{
    padding: 60px;
    color: black;
    background-color: #ffffff;
    width: 60%;
    margin: auto;
    text-align: left;
}

.hidden{
  display: none;
}
</style>
{% endblock %}

{% block content %}
<div class="test">
    <h1>Adding new test</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="test-form">
            {{ test_form.as_p }}
        </div>
        <h3>Chapters:</h3>
        {{ chapter_formset.management_form }}
        <div id="chapters">
            {% for chapter_form in chapter_formset %}
                <div class="chapter">
                    {{ chapter_form.as_p }}
                </div>
            {% endfor %}
        </div>
        <div id="empty-form" class="hidden">
            {% for f in chapter_formset.empty_form %}
                {% if f.label == 'Text name' %}
                    <div>
                        <p><label for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }} </p>
                        <div class="form-error">{{ f.errors }}</div>
                    </div>
                {% else %}
                    <p><label for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }} </p>
                    <div class="form-error">{{ f.errors }}</div>
                {% endif %}
            {% endfor %}
        </div>
        <button id="add-chapter" type="button">
            <span>Add chapter</span>
        </button>
        <button type="submit">Save</button>
    </form>
</div>
{% endblock %}


{% block javascript %}
<script>
  const addChapterButton = document.getElementById('add-chapter');
  const totalForms = document.getElementById('id_form-TOTAL_FORMS');

  addChapterButton.addEventListener('click', add_new_chapter)

  function add_new_chapter(event) {
      if (event) {
          event.preventDefault()
      }
      const currentChapterForms = document.getElementsByClassName('chapter');
      const currentChapterCount = currentChapterForms.length // + 1
      const formChapters = document.getElementById('chapters')
      const copyEmptyFormEl = document.getElementById('empty-form').cloneNode(true)
      copyEmptyFormEl.setAttribute('class', 'chapter')
      copyEmptyFormEl.setAttribute('id', `form-${currentChapterCount}`)
      const regex = new RegExp('__prefix__', 'g')
      copyEmptyFormEl.innerHTML = copyEmptyFormEl.innerHTML.replace(regex, currentChapterCount)

      // Autofill chapter_number field
      const chapterNumberField = copyEmptyFormEl.querySelector('#id_form-' + currentChapterCount + '-chapter_number');
      if (chapterNumberField) {
        chapterNumberField.value = currentChapterCount + 1;
  }



      // Create and append the "Delete chapter" button
      const deleteChapterButton = document.createElement('button')
      deleteChapterButton.type = 'button'
      deleteChapterButton.innerText = 'Delete chapter'
      deleteChapterButton.addEventListener('click', () => {
        copyEmptyFormEl.remove()
        totalForms.setAttribute('value', currentChapterForms.length - 1)
      })
      copyEmptyFormEl.append(deleteChapterButton)

      totalForms.setAttribute('value', currentChapterCount + 1)
      formChapters.append(copyEmptyFormEl)
  }

  function auto_grow(element) {
    element.style.height = "5px";
    element.style.height = (element.scrollHeight) + "px";
  }

  function auto_width(element) {
    element.style.width = "5px";
    element.style.width = (element.value.length) + "px";
  }

</script>

{% endblock javascript %}