{% extends 'galaxy/base.html' %}
{% load static %}

{% block custom_styles %}
<style>
h1{
    text-align: center;
}
.test{
    padding: 60px;
    color: black;
    background-color: #ffffff;
    width: 60%;
    margin: auto;
    text-align: left;
}

.hidden{
  display: none;
}
</style>
{% endblock %}

{% block content %}
<div class="test">
    <h1>Add questions and answers to {{ test_obj }}</h1>

    <form method="post">
  {% csrf_token %}
  <div class="question-formset">
    {{ question_formset.management_form }}
    <div class="formset">
      {% for form in question_formset %}
        <div class="form">
          {{ form.as_p }}
          <div class="answer-formset">
            {{ form.answers.management_form }}
            {% for answer_form in form.answers %}
              <div class="form">
                {{ answer_form.as_p }}
              </div>
            {% endfor %}
            <button type="button" class="add-answer-formset">Add Answer</button>
          </div>
        </div>
      {% endfor %}
      <button type="button" class="add-question-formset">Add Question</button>
    </div>
  </div>
  <button type="submit">Save</button>
</form>
</div>
{% endblock content %}

{% block javascript %}
<script>
    $(function() {
        // get the formset prefix for questions and answers
        var questionFormsetPrefix = '{{ question_formset.prefix }}';
        var answerFormsetPrefix = '{{ answer_formset.prefix }}';

        // get the formset management forms
        var questionFormsetTotalForms = $('#id_' + questionFormsetPrefix + '-TOTAL_FORMS');
        var answerFormsetTotalForms = $('#id_' + answerFormsetPrefix + '-TOTAL_FORMS');

        // add new question form
        $('#add-question-btn').click(function() {
            var newQuestionForm = $('#question-form-template').clone().removeAttr('id');
            newQuestionForm.find(':input').each(function() {
                var input = $(this);
                input.attr('name', input.attr('name').replace('__prefix__', questionFormsetTotalForms.val()));
                input.attr('id', input.attr('id').replace('__prefix__', questionFormsetTotalForms.val()));
            });
            newQuestionForm.appendTo('#question-formset-container');
            questionFormsetTotalForms.val(parseInt(questionFormsetTotalForms.val()) + 1);

            // add new answer form for the new question
            var newAnswerForm = $('#answer-form-template').clone().removeAttr('id');
            newAnswerForm.find(':input').each(function() {
                var input = $(this);
                input.attr('name', input.attr('name').replace('__prefix__', answerFormsetTotalForms.val()));
                input.attr('id', input.attr('id').replace('__prefix__', answerFormsetTotalForms.val()));
            });
            newAnswerForm.appendTo(newQuestionForm.find('.answer-formset-container'));
            answerFormsetTotalForms.val(parseInt(answerFormsetTotalForms.val()) + 1);
        });

        // remove question form
        $('#question-formset-container').on('click', '.remove-question-btn', function() {
            $(this).closest('.question-form').remove();
            questionFormsetTotalForms.val(parseInt(questionFormsetTotalForms.val()) - 1);
        });

        // add new answer form
        $('#question-formset-container').on('click', '.add-answer-btn', function() {
            var questionForm = $(this).closest('.question-form');
            var answerFormsetContainer = questionForm.find('.answer-formset-container');
            var newAnswerForm = $('#answer-form-template').clone().removeAttr('id');
            newAnswerForm.find(':input').each(function() {
                var input = $(this);
                input.attr('name', input.attr('name').replace('__prefix__', answerFormsetTotalForms.val()));
                input.attr('id', input.attr('id').replace('__prefix__', answerFormsetTotalForms.val()));
            });
            newAnswerForm.appendTo(answerFormsetContainer);
            answerFormsetTotalForms.val(parseInt(answerFormsetTotalForms.val()) + 1);
        });

        // remove answer form
        $('#question-formset-container').on('click', '.remove-answer-btn', function() {
            $(this).closest('.answer-form').remove();
            answerFormsetTotalForms.val(parseInt(answerFormsetTotalForms.val()) - 1);
        });
    });
</script>


{% endblock javascript %}