{% extends 'galaxy/base.html' %}



{% block content %}
    <form action="{% url 'testing_page' %}" method="post" id="my_form" enctype="multipart/form-data">
        {% csrf_token %}

        <input type="button" id="recordButton1" value="Record">
        <input type="button" id="stopButton1" value="Stop" disabled>
        <p id="status1">Click the Record button to start recording.</p>
        <p id="timer1">00:00</p>
        <audio id="audioPlayback1" controls></audio>

        <div style="display: flex">
            <button class="btn btn5" type="submit">
                <span>Submit Answers</span>
            </button>
        </div>
    </form>
{% endblock %}

{% block javascript %}
    <script>
      let mediaRecorders = [];
      let recordedChunks = [];
      let startTime = [];
      let timerInterval = [];

      const recordButtons = document.querySelectorAll('[id^="recordButton"]');
      const stopButtons = document.querySelectorAll('[id^="stopButton"]');
      const statuses = document.querySelectorAll('[id^="status"]');
      const timers = document.querySelectorAll('[id^="timer"]');
      const audioPlayback = document.querySelectorAll('[id^="audioPlayback"]');

      const fd = new FormData();

      recordButtons.forEach((button, index) => {
            button.addEventListener('click', () => {
                const constraints = { audio: true };
                navigator.mediaDevices.getUserMedia(constraints)
                    .then(function (stream) {
                        mediaRecorders[index] = new MediaRecorder(stream);
                        mediaRecorders[index].addEventListener('dataavailable', function (event) {
                            recordedChunks[index].push(event.data);
                        });

                        mediaRecorders[index].addEventListener('stop', function () {
                            const blob = new Blob(recordedChunks[index], {type: 'audio/wav'});


                            // Some shit

                            fd.append('voice' + (index + 1), blob);



                            recordedChunks[index] = [];
                            const url = URL.createObjectURL(blob);
                            audioPlayback[index].src = url;
                            statuses[index].textContent = 'Recording stopped. Click the Play button to listen.';
                            recordButtons[index].disabled = false;
                            stopButtons[index].disabled = true;


                        });

                        startTime[index] = Date.now();
                        statuses[index].textContent = 'Recording...';
                        recordButtons[index].disabled = true;
                        stopButtons[index].disabled = false;
                        recordedChunks[index] = [];
                        mediaRecorders[index].start();
                        timerInterval[index] = setInterval(() => {
                            updateTimer(index);
                        }, 1000);
                        setTimeout(() => {
                            stopRecording(index);
                        }, 120000); // Stop recording after 2 minutes
                    })

                    .catch(function (err) {
                        console.error('Failed to get user media', err);
                        statuses[index].textContent = 'Failed to start recording.';
                    });
            });
        });

        stopButtons.forEach((button, index) => {
            button.addEventListener('click', () => {
                stopRecording(index);
            });
        });

        function stopRecording(index) {
            mediaRecorders[index].stop();
            clearInterval(timerInterval[index]);
            timers[index].textContent = '00:00';
        }

        function updateTimer(index) {
            const elapsedTime = new Date(Date.now() - startTime[index]);
            const minutes = elapsedTime.getUTCMinutes().toString().padStart(2, '0');
            const seconds = elapsedTime.getUTCSeconds().toString().padStart(2, '0');
            timers[index].textContent = `${minutes}:${seconds}`;
      }

      const form = document.getElementById('my_form');
    form.addEventListener('submit', submitForm);

    function submitForm(event) {
      event.preventDefault();

      const formData = new FormData();
      formData.append('audio', new Blob(recordedChunks), 'recording.wav');

      fetch('{% url "testing_page" %}', {
        method: 'POST',
        body: fd,
        headers: {
          'X-CSRFToken': document.querySelector('input[name="csrfmiddlewaretoken"]').value
        }
      })
      form.submit();
    }






    </script>

{% endblock %}