{% load static %}
{% load galaxy_tags %}
{% load content_for_evrbd_tags %}

<!doctype html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'galaxy/css/chat.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'galaxy/css/addition.css' %}" rel="stylesheet" />
    <link rel="shortcut icon" type="image/png" href="{% static 'galaxy/images/favicon.ico' %}"/>
    {% block custom_styles %}{% endblock %}
</head>

<body>

      {% include "galaxy/navbar.html" %}

{% block content %}
{% endblock content %}

{% block javascript %}
{% endblock javascript %}
</body>
</html>
