{% extends 'galaxy/base.html' %}
{% load static %}
{% load galaxy_tags %}

{% block custom_styles %}
    <link type="text/css" href="{% static 'galaxy/css/test.css' %}" rel="stylesheet"/>
    <link type="text/css" href="{% static 'galaxy/css/checking_test.css' %}" rel="stylesheet"/>
{% endblock %}


{% block content %}
<div class="test-parent">
    <div class="test">
        <form action="{% url 'checking_test' test_to_check.id %}" method="post" id="my_form">
        {% csrf_token %}
            <div class="test_to_check_info">
                <p>Student: {{test_to_check.student_id}}</p>
                <p>Test: {{test_to_check.test_id}}</p>
                <p>Date: {{test_to_check.date}}</p>
            </div>

            {% for task in tasks_to_check %}
                {% with question=task.question_id %}
                {% with test=test_to_check.test_id %}
                    {% if question.writing_fl == 'letter'%}     <!-- letter -->
                        <div class="question">
                            <p class="question-number">{{question.question_number}}</p>
	                        <p class="question-text">{{question.question}}</p>
                        </div>
                        <div class="gse-writing">
                            <div class="letter">
                                <div class="letter_row"><p class="letter_data">{{question.writing_from}}</p></div>
                                <div class="letter_row"><p class="letter_data">{{question.writing_to}}</p></div>
                                <div class="letter_row"><p class="letter_data">{{question.writing_subject}}</p></div>
                                <div class="letter_row"><p class="letter_text">{{question.writing_letter}}</p></div>
                            </div>
                        </div>
                        <div>
                            <p class="question_writing_text">{{question.writing_after}}</p>
                        </div>
                    {% else %}
                        {% if test.part == 'Speaking' %}    <!-- Speaking file adding question -->
                            <div class="question">
                                <p class="question-number">{{question.question_number}}</p>
	                            <p class="question-text" style="white-space: break-spaces;">{{question.question}}</p>
                            </div>
                            {% if question.media %}
                                <div class="audio">
                                    <audio controls style="margin: auto;" id="audio{{ question.pk }}">
                                        <source src="{{question.media.url}}">
                                    </audio>
                                </div>
                            {% endif %}
                            {% if question.picture %}
                                <p style="text-align: center; font-weight: 600; font-size: 27px;">{{question.text_name}}</p>
                                <div class="picture">
                                    <img style="width: 80%; margin: auto;" src="{{question.picture.url}}">
                                </div>
                            {% endif %}
                            {% if question.text %}
                                    {% if question.question_number == 1 %}
                                    <div class="speaking-gse-1-text">
                                    <span class="chapter-text">{{ question.text }}</span>
                                    </div>
                                    {% else %}
                                    <div style="margin-left: 60px;">
                                    <span class="speaking-gse-3-text">{{ question.text }}</span>
                                    </div>
                                    {% endif %}
                            {% endif %}
                        {% else %}  <!-- essay -->
                            <div class="question">
                                {% if question.question_number > 1 %}
                                <p class="question-number">2.{{question.question_number|adding:-1}}</p>
                                {% else %}
                                <p class="question-number">{{question.question_number}}</p>
                                {% endif %}
	                            <p class="question-text">{{question.question}}</p>
                            </div>
                            <div class="picture">
                                <img style="width: 80%; margin: auto;" src="{{question.picture.url}}">
                            </div>
                            <p class="question_writing_text">{{question.writing_after}}</p>
                        {% endif %}
                    {% endif %}
                {% endwith %}
                {% endwith %}

                <h2>Student's answer:</h2>
                    {% if task.test_to_check_id.test_id.part == 'Writing' %}
                        {% if task.media1 %}
                            <p><img class="task_check_photo" src="{{task.media1.url}}"></p>
                        {% else %}
                            <p>Student forgot to load his answer</p>
                        {% endif %}
                        {% if task.media2 %}
                            <p><img class="task_check_photo" src="{{task.media2.url}}"></p>
                        {% endif %}
                    {% elif task.test_to_check_id.test_id.part == 'Speaking' %}
                        {% if task.media1 %}
                            <div style="display: flex;">
                                <audio controls style="margin: auto;">
                                    <source src="{{task.media1.url}}">
                                </audio>
                            </div>
                        {% else %}
                            <p>Student forgot to load his answer</p>
                        {% endif %}
                    {% endif %}

                <h2>Max. points for this task: {{task.question_id.points}}</h2>
                <div style="display: flex">
                    <div class="mark_input">
                        <label for="{{task.pk}}">Mark: </label>
                        <input type="number" name="{{task.pk}}" id="{{task.pk}}" min="0" max="{{task.question_id.points}}">
                    </div>
                </div>
            {% endfor %}
            <h2>Commentary:</h2>
            <div class="result_commentary">
                <textarea class="commentary" name="commentary" rows="15" cols="70"></textarea>
            </div>
            <div style="display: flex">
                <button class="btn btn5" type="submit">
                    <span>Submit Mark</span>
                </button>
                <!--<input class="btn btn5" style="border-radius: 0%;margin: auto"  type="submit" value="Submit Mark">-->
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
    const input = document.getElementById('myInput');
  input.addEventListener('input', function() {
    if (input.value.length > 10) {
      input.value = input.value.slice(0, 10);
    }
  });
</script>
{% endblock javascript%}
