{% extends 'galaxy/base.html' %}
{% load galaxy_tags %}
{% load static %}

{% block custom_styles %}
    <link type="text/css" href="{% static 'galaxy/css/test.css' %}" rel="stylesheet" />
{% endblock custom_styles %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <h1>Audio Recorder</h1>
        <button id="recordButton" type="button">Record</button>
        <button id="stopButton" type="button" disabled>Stop</button>

        <div style="display: none"> <!--Submit button -->
            <button class="btn btn5" type="submit">
                <span>Submit Answers</span>
            </button>
        </div>

    </form>
{% endblock content%}

{% block javascript %}

    <script src="https://cdn.WebRTC-Experiment.com/MediaStreamRecorder.js"></script>
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>

    <script>
        function captureUserMedia(mediaConstraints, successCallback, errorCallback) {
            navigator.mediaDevices.getUserMedia(mediaConstraints).then(successCallback).catch(errorCallback);
        }

        var mediaConstraints = {
            audio: true
        };

        document.querySelector('#recordButton').onclick = function() {
            this.disabled = true;
            captureUserMedia(mediaConstraints, onMediaSuccess, onMediaError);
        };

        document.querySelector('#stopButton').onclick = function() {
            this.disabled = true;
            mediaRecorder.stop();
            mediaRecorder.stream.stop();
        };

         var mediaRecorder;

        function onMediaSuccess(stream) {

            mediaRecorder = new MediaStreamRecorder(stream);
            mediaRecorder.stream = stream;

            mediaRecorder.recorderType = StereoAudioRecorder;
            mediaRecorder.mimeType = 'audio/wav';

             mediaRecorder.audioChannels = 1

            mediaRecorder.ondataavailable = function(blob) {
                sendDataToServer(blob)
            };

        timeInterval = 600 * 1000;

        // get blob after specific time interval
        mediaRecorder.start(timeInterval);

        document.querySelector('#stopButton').disabled = false;

        }

        function onMediaError(e) {
            console.error('media error', e);
        }

        function sendDataToServer(blob) {
            var formData = new FormData();
            formData.append("audio", blob, "recorded.wav");
            // Get the CSRF token from the template
            var csrfToken = document.querySelector("[name=csrfmiddlewaretoken]").value;
            return fetch('{% url "debug" %}', {
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrfToken
                },
                body: formData
            })
            .then(response => response.json());
        }
    </script>
{% endblock javascript %}
