{% load static %}
{% load galaxy_tags %}
{% load content_for_evrbd_tags %}

{% block custom_styles %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
{% endblock custom_styles %}

<header>
    <nav>
        <ul>
            <div class="menu-left">
                <a class="logo" href="{% url 'home' %}"></a>
                {% if request.user.is_confirmed %}
                    <li class="first-row"><a href="#">GSE</a>
                        <ul>
                            {% drop_menu_test 'GSE' %}
                        </ul>
                    </li>
                    <li  class="first-row"><a href="#">USE</a>
                        <ul>
                            {% drop_menu_test 'USE' %}
                        </ul>
                    </li>
                    <li class="first-row"><a href="#">Olymp Way</a>
                        <ul>
                            {% drop_menu_olymp %}
                        </ul>
                    </li>
                {% endif %}
                {% if request.user.is_authenticated %}
                    <li class="first-row"><a href="https://learnenglish.britishcouncil.org/skills">Develop your skills</a></li>
                    <li class="first-row"><a href="">British Bulldog</a>
                        <ul>
                            {% drop_menu_bb %}
                        </ul>
                    </li>
                    <li class="first-row"><a href="#">Idioms & Collocations</a>
                        <ul>
                            <li><a href="{% url 'play_video' %}">Watch & learn</a></li>
                            <li><a href="#">Read & learn</a></li>
                        </ul>
                    </li>
                    <li class="first-row"><a href="#">Fun room</a>
                        <ul>
                            <li><a href="#">Cinema</a></li>
                            <li><a href="{% url 'quiz_preview' %}">Quiz</a></li>
                            <li><a href="" target="_blank">Crosswords</a>
                                <ul>
                                    <li><a href="{% url 'cross' 1 %}" target="_blank">Painting</a></li>
                                    <li><a href="{% url 'cross' 2 %}" target="_blank">Saint Patricks Day</a></li>
                                    <li><a href="{% url 'cross' 3 %}" target="_blank">Spring</a></li>
                                    <li><a href="{% url 'cross' 4 %}" target="_blank">Easter</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                {% endif %}
            </div>
            <div class="menu-right">
                {% if request.user.is_authenticated %}
                    {% if request.user.is_confirmed %}
                        {% if request.user.role == 'Teacher' or request.user.is_staff %} <!-- Confirmed teacher or stuff -->
                            {% if tests_to_check or students_to_confirm %}
                            <li class="first-row"><a href="#">{{user.username}}</a>
                                <div class="notification"></div>
                            {% else %}
                            <li class="first-row"><a href="#">{{user.username}}</a>
                            {% endif %}
                                <ul>
                                    <li><a href="{{ user.get_absolute_url }}">Account</a></li>
                                    <li><a href="{% url 'show_results' %}">My results</a></li>
                                    <li><a href="{% url 'show_tests' 0 %}">Tests</a></li>
                                    <li><a href="{% url 'make_an_assessment' %}">Assessments</a></li>
                                    <li><a href="{% url 'show_groups' %}">Groups</a></li>
                                    {% if students_to_confirm %}
                                    <li><a href="{% url 'show_pending_students' %}">Students(!)</a></li>
                                    {% else %}
                                    <li><a href="{% url 'show_confirmed_students' %}">Students</a></li>
                                    {% endif %}
                                    {% if tests_to_check %}
                                    <li><a href="{% url 'show_tests_to_check' %}">Tests to check(!)</a></li>
                                    {% else %}
                                    <li><a href="{% url 'show_tests_to_check' %}">Tests to check</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                            <li class="first-row"><a href="{% url 'logout' %}">Log out</a></li>
                        {% else %} <!-- Confirmed student -->
                            <li class="first-row"><a href="#">{{user.username}}</a>
                                <ul>
                                    <li><a href="{{ user.get_absolute_url }}">Account</a></li>
                                    <li><a href="{% url 'show_results' %}">My results</a></li>
                                    <li><a href="{% url 'show_student_assessments' %}">Assessments</a></li>
                                </ul>
                            </li>
                            <li class="first-row"><a href="{% url 'logout' %}">Log out</a></li>
                        {% endif %}
                    {% else %} <!-- Not confirmed person -->
                        <li class="first-row"><a href="{{ user.get_absolute_url }}">{{user.username}}</a></li>
                        <li class="first-row"><a href="{% url 'logout' %}">Log out</a></li>
                    {% endif %}
                {% else %} <!-- Not authenticated guest -->
                    <li class="first-row"><a href="{% url 'register' %}">Sign Up</a></li>
                    <li class="first-row"><a href="{% url 'login' %}">Log in</a></li>
                {% endif %}
            </div>
        </ul>
    </nav>
</header>