{% for year, stages in menu_dict.items %}
    <li><a href="#">{{year.year}}</a>
    <ul  class="dropdown">
        {% for stage, classes in stages.items %}
        <li><a href="#">{{ stage.stage }}</a>
            <ul  class="dropdown">
                {% for classes, file in classes.items %}
                <li><a href="#">{{ classes.classes }}</a>
                    <ul>
                        <li><a href="{% url 'show_doc' classes.id 'task' %}">Task</a></li>
                        {% if classes.answer %}
                        <li><a href="{% url 'show_doc' classes.id 'answer' %}">Answer</a></li>
                        {% endif %}
                        {% if classes.audio %}
                        <li><a href="{% url 'play_audio' classes.id %}">Audio</a></li>
                        {% endif %}
                        {% if classes.script %}
                        <li><a href="{% url 'show_doc' classes.id 'script' %}">Script</a></li>
                        {% endif %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
    </li>
{% endfor %}
