{% extends 'galaxy/base.html' %}
{% load static %}
{% load galaxy_tags %}
{% block custom_styles %}
    <link type="text/css" href="{% static 'galaxy/css/test.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'galaxy/css/read_and_learn_test.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}

<div class="test-parent">
<div class="test">
<h1>Test №{{ test.test_num }}. {{ test.type }} level. </h1>

<form action="{% url 'pass_test' test.pk %}" method="post" id="my_form" enctype="multipart/form-data">
{% csrf_token %}
    <div class="form errors">
        {{ form.non_field_errors }}
    </div>
    {% for chapter, qa in content_dict.items %}
        <div class="chapter">
            {% if chapter.info %}
                <div class="chapter-info">
                    {{chapter.info}}
                </div>
            {% endif %}
            {% if chapter.text_name %}
                <div class="chapter-text-name">
                    <h3>{{chapter.text_name}}</h3>
                </div>
                {% if test.part == 'Grammar and Vocabulary' %}
                <br>
                {% endif %}
            {% endif %}
            {% if chapter.text %}
                <div class="chapter-text">
                    <p>{{chapter.text}}</p>
                </div>
            {% endif %}
            {% if chapter.media %}
                <br><br>
                <div class="question_obj">
                    <audio controls src="{{chapter.media.url}} "></audio>
                </div>
            {% endif %}
            {% if test.media and forloop.first %}
                <div class="question_obj">
                    <audio hidden autoplay>
                        <source src="{{test.media.url}}">
                    </audio>
                </div>
            {% endif %}
            {% for question, answers in qa.items %}
                <div class="question_obj">
                    {% if question.question_type == 'match_type' %}     <!-- Match type of question-->
                        <div class="question">
                            <p class="question-number">{{question.question_number}}</p>
                            <p class="question-text framed-italic-question">
                                {{question.question}}
                            </p>
                        </div>
                        {% if question.text %}
                            <div class="chapter-text-name">
                                <h3>{{question.text_name}}</h3>
                            </div>
                            <div class="chapter-text">
                                <p>{{question.text}}</p>
                            </div>
                        {% endif %}
                        {% if test.type == 'USE' and test.part == 'Reading' and question.question_number == 1 %}
                        <div class="use-reading-list-of-match-options">
                        {% else %}
                        <div class="list_of_match_options">
                        {% endif %}
                        {% for answer, answer_list in answers.items %}
                            {% if test.type == 'USE' and test.part == 'Listening' and question.question_number == 2 %}
                            <p class="match-answer">{{ answer.match }}. {{answer.addition}}</p>
                            {% else %}
                                {% if forloop.first %}  <!-- Printing answer options -->
                                        {% for item in answer_list %}
                                            {% if test.type == 'USE' and test.part == 'Reading' and question.question_number == 1 %}
                                                {% if forloop.counter == 1 %}
                                                <div class="left-use-reading-matches">
                                                {% elif forloop.counter == 5 %}
                                                </div>
                                                <div class="right-use-reading-matches">
                                                {% endif %}
                                                <p class="match-answer">{{ forloop.counter }}. {{item}}</p>
                                                {% if forloop.counter == 8 %}
                                                </div>
                                                {% endif %}
                                            {% else %}
                                            <p class="match-answer">{{ forloop.counter }}. {{item}}</p>
                                            {% endif %}
                                        {% endfor %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        </div>
                            {% for answer, answer_list in answers.items %}
                                {% if forloop.first %}
                                    <div class="matches">
                                {% endif %}
                                    <div class="select-wrapper listening-select-element">   <!-- Listening match -->
                                        <label>{{answer.match}}</label>
                                        <select class="listening-select" name="{{answer.pk}}">
                                            <option>&nbsp;&nbsp;&nbsp;∇&nbsp;&nbsp;&nbsp;</option>
                                            {% for item in answer_list %}
                                                <option value="{{item}}">{{ forloop.counter }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                {% if forloop.last %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                    {% elif question.question_type == 'input_type'%}    <!-- Input type question -->
                        <div class="input-outer">
                            <div class="input-question">
                                <p class="question-number">{{question.question_number}}</p>
                                <p class="question-text">{{question.question}}</p>
                            </div>
                            {% if question.addition_before %}
                                <div class="input-addition">
                                    <p class="input-addition-text">{{question.addition_before}}</p>
                                </div>
                            {% else %}
                                <div class="input-addition"></div>
                            {% endif %}
                            <div class="input-type">
                                <input type="text" class="input-answer" name="{{answers.pk}}">
                            </div>
                            {% if question.addition_after %}
                                <div class="input-addition">
                                    <p class="input-addition-text">{{question.addition_after}}</p>
                                </div>
                            {% else %}
                                <div class="input-addition"></div>
                            {% endif %}
                        </div>
                    {% elif question.question_type == 'single_choice_type' %} <!-- Single choice type question -->
                        {% if test.type == 'USE' and test.part == 'Grammar and Vocabulary' %}
                        <div class="use-grammar-question-radio">
                            <div class="question">
                            	<p class="use-grammar-question-number">{{question.question_number}}</p>
                            </div>
                            <div class="question-choices">
                                {% for answer in answers %}
                                    <div class="question-choice">
                                        <input type="radio" id="{{answer.pk}}" name="{{question.pk}}" value="{{answer.pk}}">
                                            <label for="{{answer.pk}}">
                                                <span class="center">{{ answer.answer }}</span>
                                            </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% else %}
                        <div class="question-radio">
                            <div class="question">
                            	<p class="question-number">{{question.question_number}}</p>
                            	<p class="question-text">{{question.question}}</p>
                            </div>
                            <div class="left-margin-wrap">
                                <div class="question-choices">
                                    {% for answer in answers %}
                                        <div class="question-choice">
                                            <input type="radio" id="{{answer.pk}}" name="{{question.pk}}" value="{{answer.pk}}">
                                                <label for="{{answer.pk}}">
                                                    <span class="center">{{ answer.answer }}</span>
                                                </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}

    <div style="display: flex">
        <button class="btn btn5" type="submit">
            <span>Submit Answers</span>
        </button>
    </div>
</form>

<div class="warning" id="warning">
  <h2>Warning: Only 5 minutes left!</h2>
    <button class="btn btn5" onclick="closeDiv()">
        <span>Got it</span>
    </button>
</div>
{% endblock %}

