{% extends 'galaxy/base.html' %}
{% load static %}
{% block custom_styles %}
<link type="text/css" href="{% static 'galaxy/css/auth.css' %}" rel="stylesheet" />
<style>
    h3{
        text-align: center;
    }
</style>

{% endblock custom_styles %}

{% block content%}
<div class="auth_window">
    <h1>Enter new password</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {% for f in form %}
            <div class="auth_line">
                {{ f }}
                <div class="show_hide_pass">
                    <button class="eye_button moon" type="button" id="toggle-{{ f.name }}">
                        <div class="tooltip">Show/Hide Password</div>
                    </button>
                </div>
            </div>
            <div class="form-error">{{ f.errors }}</div>
        {% endfor %}
        <div class="auth_line">
            <button class="login_button" id="registerBtn" type="submit">
                <span>Reset Password</span>
            </button>
        </div>
    </form>
</div>
{% endblock content%}

{% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>

        $(document).ready(function () {
            // check equals pass
            $('#id_new_password1, #id_new_password2').keyup(function () {
                var password1 = $('#id_new_password1').val();
                var password2 = $('#id_new_password2').val();
                if (password1 != password2) {
                    $('#id_new_password2').removeClass('is-valid').addClass('is-invalid');
                    $('#passwordError').remove();
                    $('#id_new_password2').after('<div class="invalid-feedback d-block" id="passwordError">Passwords do not match!</div>')
                    $('#registerBtn').prop('disabled', true).removeClass('btn').addClass('disabled_button'); // disable the button
                }
                else {
                    $('#id_new_password2').removeClass('is-invalid').addClass('is-valid');
                    $('#passwordError').remove();
                    $('#registerBtn').prop('disabled', false).removeClass('disabled_button').addClass('btn'); // enable the button
                }
            });
        })

        // show-hide password buttons
        $(document).ready(function() {
            function togglePasswordField(passwordField, eyeButton) {
                var passwordFieldType = passwordField.attr("type");

                // Toggle the password field's type between "password" and "text"
                if (passwordFieldType === "password") {
                    passwordField.attr("type", "text");
                    eyeButton.removeClass("moon").addClass("sun");
                } else {
                    passwordField.attr("type", "password");
                    eyeButton.removeClass("sun").addClass("moon");
                }
            }

            $("#toggle-new_password1").click(function() {
                var passwordField = $("#id_new_password1");
                var eyeButton = $("#toggle-new_password1");
                togglePasswordField(passwordField, eyeButton);
            });

            $("#toggle-new_password2").click(function() {
                var passwordField = $("#id_new_password2");
                var eyeButton = $("#toggle-new_password2");
                togglePasswordField(passwordField, eyeButton);
            });
        });
    </script>
{% endblock javascript %}