{% extends 'galaxy/base.html' %}
{% load static %}
{% block custom_styles %}
<link type="text/css" href="{% static 'galaxy/css/auth.css' %}" rel="stylesheet" />
<style>
    h3{
        text-align: center;
    }
</style>

{% endblock custom_styles %}

{% block content%}
<div class="auth_window">
    <h1>Password reset complete</h1>
    <h3>Your Password has been set.</h3>
    <h3>You may go ahead and login.</h3>
    <div class="auth_line">
        <a href="{% url 'home' %}">Return to home page</a>
    </div>
</div>
{% endblock content %}