{% extends 'galaxy/base.html' %}
{% load static %}

{% block custom_styles %}
<link type="text/css" href="{% static 'galaxy/css/auth.css' %}" rel="stylesheet" />
<style>
h3{
    text-align: center;
}
</style>
{% endblock custom_styles %}

{% block content %}
<div class="wrapper">
    <div class="auth_window">
        <h1>Password Reset</h1>
        <h3>
            Please enter the email address you used to register
            and we will send you a link to reset your password
        </h3>
        <form action="" method="POST" class="text-center">
            {% csrf_token %}
            {% for f in form %}
                <div class="auth_line">
                    <input type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email" placeholder="Your Email">
                </div>
                <div class="auth_line">
                    <button class="login_button" id="registerBtn" type="submit">
                        <span>Send email</span>
                    </button>
                </div>
            {% endfor %}
        </form>
        <div class="auth_line">
            <div class="forgot_pass"><a href="{% url 'home' %}">Return to home page</a></div>
        </div>
    </div>
</div>
{% endblock%}