
{% load galaxy_tags %}


{% for test in tests %}
    <tr>
        {% if page_obj.number %}
            {% with offset=page_obj.number|add:'-1'|multiply:pagination_number %}
            <td scope="row">{{ forloop.counter|add:offset }}</td>
            {% endwith %}
        {% else %}
            <td scope="row">{{ forloop.counter }}</td>
        {% endif %}
        <td> {{test.type}}</td>
        <td>
            {% if test.part == 'Grammar and Vocabulary' %}
                Grammar {{test.test_num}}
            {% else %}
                {{test.part}} {{test.test_num}}
            {% endif %}
        </td>
        {% if test in best_result_dict %}
        <td>Yes</td>
        {% with result=best_result_dict|get_item:test %}
        <td>{{ result.date }}</td>
        <td>{{ result.points }}</td>
        {% endwith %}
        {% else %}
        <td>Nope</td>
        <td>-</td>
        <td>-</td>
        {% endif %}
        <td>
            <div class="button_shell">
                <a class="btn btn5" href="{% url 'test_details' test.id %}"><span>Pass</span></a>
            </div>
        </td>
    </tr>
{% endfor %}

