{% extends 'galaxy/base.html' %}
{% load galaxy_tags %}
{% load static %}

{% block custom_styles %}
    <link type="text/css" href="{% static 'galaxy/css/table.css' %}" rel="stylesheet" />
{% endblock custom_styles %}

{% block content %}
<div class="parent">
    <div class="current" style="width: 30%"><h1><span>Assessments for today</span></h1></div>
    <div style="width: 30%"><h1><a href="{% url 'show_student_assessment_results' %}">Assessment results</a></h1></div>
</div>
<div class="parent">
  <div class="table">
      {% if assessments.count == 0 %}
      <h2>No assessments for today</h2>
      {% else %}
          <table class="table">
          <thead>
              <tr>
                  <th scope="col">#</th>
                  <th scope="col">Test type</th>
                  <th scope="col">Action</th>
              </tr>
          </thead>
          <tbody>
          {% for assessment in assessments %}
              <tr>
                  <td scope="row">{{ forloop.counter }}</td>
                  <td>{{ assessment.test.part }}</td>
                  <td><a class="btn btn5" href="{% url 'test_details' assessment.test.pk %}"><span>Start test</span></a></td>
              </tr>
          {% endfor %}
          </tbody>
          </table>
      {% endif %}
  </div>
</div>

{% endblock content %}