{% extends 'galaxy/base.html' %}
{% load static %}

{% block custom_styles %}
    <link type="text/css" href="{% static 'galaxy/css/test.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="test-parent">
<div class="test">
<h1>Test {{test.type }} {{test.part}} {{test.test_num}}</h1>

<form action="{% url 'pass_test' test.pk %}" method="post" id="my_form" enctype="multipart/form-data">
{% csrf_token %}
    <div class="form errors">
        {{ form.non_field_errors }}
    </div>
    {% for chapter, qa in content_dict.items %}
        {% if chapter.info %}
            <div class="chapter-info">
                {{chapter.info}}
            </div>
        {% endif %}
        {% if chapter.text_name %}
            <div class="chapter-text-name">
                <h3>{{chapter.text_name}}</h3>
            </div>
            <div class="chapter-text">
                <p>{{chapter.text}}</p>
            </div>
        {% endif %}
        {% if chapter.media %}
            <br><br>
            <div class="question">
                <audio controls src="{{chapter.media.url}} "></audio>
            </div>
        {% endif %}
        {% if test.media and forloop.first %}
            <div class="question">
                <audio hidden autoplay>
                    <source src="{{test.media.url}}">
                </audio>
            </div>
        {% endif %}
        {% for question, answers in qa.items %}
            <div class="question">
                {% if question.question_type == 'match_type' %}
                    {% if test.type == 'USE' and test.part == 'Listening' and question.question_number == 2 %}
                        <p class="question-text">{{question.question_number}}. {{question.question}}</p>
                        <div class="matches">
                            {% for answer, answer_list in answers.items %}
                                <div class="select-wrapper listening-select">
                                    <label>{{answer.match}}</label>
                                    <select name="{{answer.pk}}">
                                        <option>Выберите ответ</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>
                                </div>
                            {% endfor %}
                        </div>

                    {% else %}
                        <p class="question-text">{{question.question_number}}. {{question.question}}</p>
                        {% for answer, answer_list in answers.items %}
                            {% if forloop.first %}
                                <div class="match-answers">
                                    {% for item in answer_list %}
                                        <p class="match-answer">{{ forloop.counter }}. {{item}}</p>
                                    {% endfor %}
                                    <br><br>
                                </div>
                            {% endif %}
                            {% if answer.addition != 'None' %}
                                <div class="reading-match-element"><!-- Reading test match question-->
                                    <div class="outer-addition">
                                        <div class="reading-addition left-align">
                                            <p>{{answer.match}}. {{answer.addition}}</p>
                                        </div>
                                    </div>
                                    <div class="outer-select">
                                        <div class="select-wrapper">
                                            <select class="reading-select" name="{{answer.pk}}">
                                                <option>Выберите ответ</option>
                                                {% for item in answer_list %}
                                                    <option value="{{item}}">{{ forloop.counter }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <!-- Listening test match questions -->
                        <div class="matches">
                            {% for answer, answer_list in answers.items %}
                                {% if answer.addition == 'None' %}
                                    <div class="select-wrapper listening-select">
                                        <label>{{answer.match}}</label>
                                        <select name="{{answer.pk}}">
                                            <option>Выберите ответ</option>
                                            {% for item in answer_list %}
                                                <option value="{{item}}">{{ forloop.counter }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                {% elif question.question_type == 'input_type'%}    <!-- Input type question -->
                    <div class="input-outer">
                        <div class="input-question">
                            <p class="question-text">{{question.question_number}}. {{question.question}}</p>
                        </div>
                        {% if question.addition_before %}
                            <div class="input-addition">
                                <p class="input-addition-text">{{question.addition_before}}</p>
                            </div>
                        {% else %}
                            <div class="input-addition"></div>
                        {% endif %}
                        <div class="input-type">
                            <input type="text" class="input-answer" name="{{answers.pk}}">
                        </div>
                        {% if question.addition_after %}
                            <div class="input-addition">
                                <p class="input-addition-text">{{question.addition_after}}</p>
                            </div>
                        {% else %}
                            <div class="input-addition"></div>
                        {% endif %}
                    </div>
                {% elif question.question_type == 'single_choice_type' %} <!-- Single choice type question -->
                    <div class="question_radio">
                        <p class="question-text">{{question.question_number}}. {{question.question}}</p>
                        <div class="question-choices">
                            {% for answer in answers %}
                                <div class="question-choice">
                                    <input type="radio" id="{{answer.pk}}" name="{{question.pk}}" value="{{answer.pk}}">
                                        <label for="{{answer.pk}}">
                                            <span class="center">{{ answer.answer }}</span>
                                        </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% elif question.question_type == 'true_false_type' %}  <!-- True/False type question -->
                    <div class="question_true_false">
                        <p class="question-text">{{question.question_number}}. {{question.question}}</p>
                        <div class="question-choices">
                            <div class="question-choice">
                                <input type="radio" id="True{{question.pk}}" name="{{question.pk}}" value="True">
                                <label for="True{{question.pk}}">
                                    <span class="center">True</span>
                                </label>
                            </div>
                        </div>
                        <div class="question-choices">
                            <div class="question-choice">
                                <input type="radio" id="False{{question.pk}}" name="{{question.pk}}" value="False">
                                <label for="False{{question.pk}}">
                                    <span class="center">False</span>
                                </label>
                            </div>
                        </div>
                        <div class="question-choices">
                            <div class="question-choice">
                                <input type="radio" id="Not stated{{question.pk}}" name="{{question.pk}}" value="Not stated">
                                <label for="Not stated{{question.pk}}">
                                    <span class="center">Not stated</span>
                                </label>
                            </div>
                        </div>
                    </div>
                {% else %}      <!-- File adding type question -->
                    <div class="question_file_add">
                        <p class="question_writing_text">{{question.question_number}}. {{question.question}}</p>
                    </div>
                    {% if test.part == 'Speaking' %}
                        <div class="record-answer">
                            <p class="question_writing_text">Time limit for this task: {{ question.time_limit }} minutes.</p>
                            <input type="button" id="recordButton{{ question.pk }}" value="Record" data-question-id="{{ question.pk }}" data-question-time="{{ question.time_limit }}">
                            <input type="button" id="stopButton{{ question.pk }}" value="Stop" disabled>
                            <p id="status{{ question.pk }}">Click the Record button to start recording.</p>
                            <p id="timer{{ question.pk }}">00:00</p>

                        </div>
                    {% else %}
                        <div class="add-files">
                            <div class="file">
                                <label for="{{question.pk}}_media1">Answer:</label>
                                <input type="file" name="{{question.pk}}_media1" id="{{question.pk}}_media1">
                            </div>
                            {% if test.type == 'USE' and test.part == 'Writing' and question.number == 2 %}
                            <div class="file">
                                <label for="{{question.pk}}_media2">Additional:</label>
                                <input type="file" name="{{question.pk}}_media2" id="{{question.pk}}_media2">
                            </div>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
    {% endfor %}
    <br><br>
</form>
</div>
</div>

{% endblock %}
