{% extends 'galaxy/base.html' %}
{% load galaxy_tags %}
{% load static %}

{% block custom_styles %}
    <link type="text/css" href="{% static 'galaxy/css/table.css' %}" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<style>
.hidden{
  display: none;
}
td:nth-child(2) {
    width: 47%;
}

select{
    padding: 3px;
    color: #ffffff;
    background-color: transparent;
    font-size: 18px;
    border: 2px solid #ffffff;
}
option{
    background-color:black;
    border: 2px solid #ffffff;
    font-size: 18px;
}
</style>

{% endblock custom_styles %}

{% block content %}
<h1>Groups</h1>

<div class="parent">
  <div class="table">
      <table class="table">
      <thead>
          <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Type</th>
              <th scope="col">Action</th>
          </tr>
      </thead>
      <tbody>
      {% for group in groups %}
          <tr>
              <td scope="row">{{ forloop.counter }}</td>
              <td> {{group.name}}</td>
              <td> {{group.test_type}}</td>
              <td>
                  <div style="display: inline-flex; width: 80%;">
                      <a class="btn btn5" href="{% url 'show_group_participants' group.id %}"><span>Show participants</span></a>
                      <a class="btn btn5" href="{% url 'delete_group' group.id %}"><span>Delete</span></a>
                  </div>
              </td>
          </tr>
      {% endfor %}
      <tr>
              <td></td>
              <td></td>
              <td></td>
              <td><a class="btn btn5" id="add-group-btn"><span>+Add group</span></a></td>
      </tr>
      <tr id="new-group-row" class="hidden">
          <td></td>
          <td><input class="dark-input" type="text" id="new-group-name"></td>
          <td>
              <select id="new-group-test-type">
                  <option></option>
                  <option value="GSE">GSE</option>
                  <option value="USE">USE</option>
              </select>
          </td>
          <td>
              <div style="display: inline-flex; width: 60%;">
                  <a class="btn btn5" id="save-group-btn"><span>Save</span></a>
                  <a class="btn btn5" id="delete-group-btn"><span>Close</span></a>
              </div>
          </td>
      </tr>
      </tbody>
      </table>
  </div>
</div>

{% endblock content %}


{% block javascript %}

<script>
    const addGroupBtn = document.getElementById('add-group-btn');
    const newGroupRow = document.getElementById('new-group-row');
    const deleteGroupBtn = document.getElementById('delete-group-btn');
    const saveGroupBtn = document.getElementById('save-group-btn');
    const groupNameInput = document.getElementById('new-group-name');
    const groupTestType = document.getElementById('new-group-test-type');

    addGroupBtn.addEventListener('click', () => {
        newGroupRow.classList.remove('hidden');
        addGroupBtn.classList.add('hidden');
    });

    deleteGroupBtn.addEventListener('click', () => {
        newGroupRow.classList.add('hidden');
        addGroupBtn.classList.remove('hidden');
    });

    saveGroupBtn.addEventListener('click', () => {
        const groupName = groupNameInput.value;
        const groupType = groupTestType.value;
        if (groupName && groupType) {
            $.ajax({
                url: "{% url 'add_group' %}",
                data: {name: groupName, test_type: groupType},
                success: function() {
                    location.reload();
                }
            });
        }
    });
</script>
{% endblock javascript %}