{% extends 'galaxy/base.html' %}
{% load galaxy_tags %}
{% load static %}

{% block custom_styles %}
    <link type="text/css" href="{% static 'galaxy/css/table.css' %}" rel="stylesheet" />
<style>

select{
    padding: 3px;
    color: #ffffff;
    background-color: transparent;
    font-size: 18px;
    border: 2px solid #ffffff;
}
option{
    background-color:black;
    border: 2px solid #ffffff;
    font-size: 18px;
}
</style>
{% endblock custom_styles %}

{% block content %}
<div class="parent">
    <div class="current" style="width: 20%"><h1><span>Confirmed students</span></h1></div>
    <div style="width: 20%"><h1><a href="{% url 'show_pending_students' %}">Pending students</a></h1></div>
    <div style="width: 20%"><h1><a href="{% url 'show_denied_students' %}">Denied students</a></h1></div>
</div>
<div class="parent">
    <form class="search-form-backgr" method="get">
        <div class="search-button">
            <input type="text" name="q" placeholder="Search users">
            <button class="btn btn5" type="submit"><span>Search</span></button>
            {% if request.GET.q %}
                <a href="{% url 'show_confirmed_students' %}" class="btn btn5"><span>Reset search</span></a>
            {% endif %}
        </div>
    </form>
</div>
<div class="parent">
  <div class="table">
      <table class="table">
      <thead>
          <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Surname</th>
              <th scope="col">Username</th>
              <th scope="col">Group</th>
              <th scope="col">Action</th>
          </tr>
      </thead>
      <tbody>
      {% for student in students %}
          <tr>
              {% if page_obj.number %}
                  {% with offset=page_obj.number|add:'-1'|multiply:15 %}
                  <td scope="row">{{ forloop.counter|add:offset }}</td>
                  {% endwith %}
              {% else %}
                  <td scope="row">{{ forloop.counter }}</td>
              {% endif %}
              <td> {{student.first_name}}</td>
              <td>{{student.last_name}}</td>
              <td>{{student.username}}</td>
              {% if student.group == Null %}
                  <td>
                      <select name="{{student.pk}}" id="group-select-{{student.pk}}">
                          <option></option>
                          {% for item in group_list %}
                            <option value="{{item.pk}}">{{item.name}}</option>
                          {% endfor %}
                      </select>
                  </td>
              {% else %}
                  <td>
                      <select name="{{student.pk}}" id="group-select-{{student.pk}}">
                          <option>{{student.group.name}}</option>
                          {% for item in group_list %}
                            {% if item != student.group %}
                                <option value="{{item.pk}}">{{item.name}}</option>
                            {% endif %}
                          {% endfor %}
                      </select>
                  </td>
              {% endif %}
              <td><a class="btn btn5" href="{% url 'deny_student' student.id 'show_confirmed_students' %}"><span>Deny student</span></a></td>
          </tr>

      {% endfor %}
      </tbody>
      </table>
  </div>
</div>

{% include "galaxy/pagination.html" %}

{% endblock %}

{% block javascript %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    $('select[id^="group-select-"]').on('change', function() {
        var student = $(this).attr('name');
        var group = $(this).val();
        $.ajax({
            type: 'GET',
            url: '{% url "update_student_group" %}',
            data: {'student': student, 'group': group},
            success: function(response) {
                // Handle success response from server
            },
            error: function(xhr) {
                // Handle error response from server
            }
        });
    });
});
</script>

{% endblock javascript %}