{% extends 'galaxy/base.html' %}
{% load galaxy_tags %}
{% load static %}

{% block custom_styles %}
    <link type="text/css" href="{% static 'galaxy/css/tables_general.css' %}" rel="stylesheet"/>
{% endblock custom_styles %}

{% block content %}

<div class="parent">
    <div class="outer_table_head">
        <div class="empty"></div>
        <div class="table_head">
            <h1>{{ student.last_name }} {{ student.first_name }} assessments</h1>
        </div>
        <div class="empty"></div>
    </div>
</div>

<div class="parent">
    <div class="table">
        <table>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Date</th>
                    <th scope="col">Listening</th>
                    <th scope="col">Reading</th>
                    <th scope="col">Grammar</th>
                    <th scope="col">Writing</th>
                    <th scope="col">Speaking</th>
                    <th scope="col">Result</th>
                    <th scope="col">%</th>
                </tr>
            </thead>
            <tbody>
                {% for date_obj, results in assessments.items %}
                <tr>
                    <td scope="row">{{ forloop.counter }}</td>
                    <td>{{ date_obj.date }}</td>
                    {% for result in results %}
                    {% if forloop.counter < 6 %}
                        {% if result == 'no result' %}
                            <td>No result</td>
                        {% else %}
                            {% if forloop.counter < 4 %}
                                <td>
                                    {% with key=result.test_id.type|add:result.test_id.part %}
                                    <a href="{% url 'show_colour_result' result.id %}">{{ result.points }} / {{ max_points|get_item:key }}</a>
                                    {% endwith %}
                                </td>
                            {% else %}
                                <td>
                                    {% with key=result.test_id.type|add:result.test_id.part %}
                                    <a href="{% url 'result_preview' result.id %}">{{ result.points }} / {{ max_points|get_item:key }}</a>
                                    {% endwith %}
                                </td>
                            {% endif %}
                    {% endif %}
                    {% else %}
                            <td>{{ result }}</td>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}