{% extends 'galaxy/base.html' %}
{% load static %}
{% load galaxy_tags %}

{% block custom_styles %}
    <link type="text/css" href="{% static 'galaxy/css/test.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}

<div class="test-parent">
<div class="test">
<h1>Test {{test.type }} {{test.part}} {{test.test_num}}</h1>
{% if test.media %}
    <div style="display: flex;">
        <audio style="margin: auto;
                      padding-bottom: 50px;"
               controls src="{{test.media.url}} ">
        </audio>
    </div>
{% endif %}
<form action="{% url 'pass_test' test.pk %}" method="post" id="my_form" enctype="multipart/form-data">
{% csrf_token %}
    <div class="form errors">
        {{ form.non_field_errors }}
    </div>
    {% for chapter, qa in content_dict.items %}
        <div class="chapter">
            {% if chapter.info %}
                <div class="chapter-info">
                    {{chapter.info}}
                </div>
            {% endif %}
            {% if chapter.text_name %}
                <div class="chapter-text-name">
                    <h3>{{chapter.text_name}}</h3>
                </div>
            {% endif %}
            {% if chapter.text %}
                <div class="chapter-text">
                    <p>{{chapter.text}}</p>
                </div>
            {% endif %}
            {% if chapter.media %}
                <br><br>
                <div class="question_obj">
                    <audio controls src="{{chapter.media.url}} "></audio>
                </div>
            {% endif %}

            {% for question, answers in qa.items %}
                <div class="question_obj">
                    {% if question.question_type == 'match_type' %}     <!-- Match type of question-->
                        <div class="question">
                            <p class="question-number">{{question.question_number}}</p>
                            <p class="question-text framed-italic-question">
                                {{question.question}}
                            </p>
                        </div>
                        {% if question.text %}
                            <div class="chapter-text-name">
                                <h3>{{question.text_name}}</h3>
                            </div>
                            <div class="chapter-text">
                                <p>{{question.text}}</p>
                            </div>
                        {% endif %}
                        {% if test.type == 'USE' and test.part == 'Reading' and question.question_number == 1 %}
                        <div class="use-reading-list-of-match-options">
                        {% else %}
                        <div class="list_of_match_options">
                        {% endif %}
                        {% for answer, answer_list in answers.items %}
                            {% if test.type == 'USE' and test.part == 'Listening' and question.question_number == 2 %}
                            <p class="match-answer">{{ answer.match }}. {{answer.addition}}</p>
                            {% else %}
                                {% if forloop.first %}  <!-- Printing answer options -->
                                        {% for item in answer_list %}
                                            {% if test.type == 'USE' and test.part == 'Reading' and question.question_number == 1 %}
                                                {% if forloop.counter == 1 %}
                                                <div class="left-use-reading-matches">
                                                {% elif forloop.counter == 5 %}
                                                </div>
                                                <div class="right-use-reading-matches">
                                                {% endif %}
                                                <p class="match-answer">{{ forloop.counter }}. {{item}}</p>
                                                {% if forloop.counter == 8 %}
                                                </div>
                                                {% endif %}
                                            {% else %}
                                            <p class="match-answer">{{ forloop.counter }}. {{item}}</p>
                                            {% endif %}
                                        {% endfor %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        </div>
                        {% if test.type == 'USE' and test.part == 'Listening' and question.question_number == 2 %}
                            <div class="matches">       <!-- USE Listening 2nd question matches -->
                                {% for answer, answer_list in answers.items %}
                                    <div class="select-wrapper listening-select">
                                        <label>{{answer.match}}</label>
                                        <select class="special-select" name="{{answer.pk}}">
                                            <option>Выберите ответ</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            {% for answer, answer_list in answers.items %}
                                {% if test.part == 'Reading' and question.question_number == 1 %}   <!-- Reading match-->
                                    <div class="reading-match-element">
                                        <div class="outer-addition">
                                            <div class="reading-addition left-align">
                                                <p>{{answer.match}}. {{answer.addition}}</p>
                                            </div>
                                        </div>
                                        <div class="outer-select">
                                            <div class="select-wrapper">
                                                <select class="reading-select" name="{{answer.pk}}">
                                                    <option>Выберите ответ</option>
                                                    {% for item in answer_list %}
                                                        <option value="{{item}}">{{ forloop.counter }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    {% if forloop.first %}
                                        <div class="matches">
                                    {% endif %}
                                        <div class="select-wrapper listening-select-element">   <!-- Listening match -->
                                            <label>{{answer.match}}</label>
                                            <select class="listening-select" name="{{answer.pk}}">
                                                <option>Выберите ответ</option>
                                                {% for item in answer_list %}
                                                    <option value="{{item}}">{{ forloop.counter }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    {% if forloop.last %}
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% elif question.question_type == 'input_type'%}    <!-- Input type question -->
                        {% if test.part == 'Grammar and Vocabulary' %}
                        <div class="input-outer">
                            <div class="use-grammar-input-question">
                                <p class="question-number">{{question.question_number}}</p>
                                <p class="use-grammar-question-text">{{question.question}}</p>
                            </div>
                            <div class="use-grammar-input-right-part">
                                <div class="input-addition use-grammar-input-addition">
                                    <p class="input-addition-text">{{question.addition_after}}</p>
                                </div>
                                <div class="input-type use-grammar-input-type">
                                    <input type="text" class="input-answer" name="{{answers.pk}}">
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div class="input-outer">
                            <div class="input-question">
                                <p class="question-number">{{question.question_number}}</p>
                                <p class="question-text">{{question.question}}</p>
                            </div>
                            {% if question.addition_before %}
                                <div class="input-addition">
                                    <p class="input-addition-text">{{question.addition_before}}</p>
                                </div>
                            {% else %}
                                <div class="input-addition"></div>
                            {% endif %}
                            <div class="input-type">
                                <input type="text" class="input-answer" name="{{answers.pk}}">
                            </div>
                            {% if question.addition_after %}
                                <div class="input-addition">
                                    <p class="input-addition-text">{{question.addition_after}}</p>
                                </div>
                            {% else %}
                                <div class="input-addition"></div>
                            {% endif %}
                        </div>
                        {% endif %}
                    {% elif question.question_type == 'single_choice_type' %} <!-- Single choice type question -->
                        {% if test.type == 'USE' and test.part == 'Grammar and Vocabulary' %}
                        <div class="use-grammar-question-radio">
                            <div class="question">
                            	<p class="use-grammar-question-number">{{question.question_number}}</p>
                            </div>
                            <div class="question-choices">
                                {% for answer in answers %}
                                    <div class="question-choice">
                                        <input type="radio" id="{{answer.pk}}" name="{{question.pk}}" value="{{answer.pk}}">
                                            <label for="{{answer.pk}}">
                                                <span class="center">{{ answer.answer }}</span>
                                            </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% else %}
                        <div class="question-radio">
                            <div class="question">
                            	<p class="question-number">{{question.question_number}}</p>
                            	<p class="question-text">{{question.question}}</p>
                            </div>
                            <div class="left-margin-wrap">
                                <div class="question-choices">
                                    {% for answer in answers %}
                                        <div class="question-choice">
                                            <input type="radio" id="{{answer.pk}}" name="{{question.pk}}" value="{{answer.pk}}">
                                                <label for="{{answer.pk}}">
                                                    <span class="center">{{ answer.answer }}</span>
                                                </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% elif question.question_type == 'true_false_type' %}  <!-- True/False type question -->
                        <div class="question_true_false">
                            <div class="question">
                            	<p class="question-number">{{question.question_number}}</p>
                            	<p class="question-text">{{question.question}}</p>
                            </div>
                            <div class="left-margin-wrap">
                                <div class="question-choices">
                                    <div class="question-choice">
                                        <input type="radio" id="True{{question.pk}}" name="{{question.pk}}" value="True">
                                        <label for="True{{question.pk}}">
                                            <span class="center">True</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="left-margin-wrap">
                                <div class="question-choices">
                                    <div class="question-choice">
                                        <input type="radio" id="False{{question.pk}}" name="{{question.pk}}" value="False">
                                        <label for="False{{question.pk}}">
                                            <span class="center">False</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="left-margin-wrap">
                                <div class="question-choices">
                                    <div class="question-choice">
                                        <input type="radio" id="Not stated{{question.pk}}" name="{{question.pk}}" value="Not stated">
                                        <label for="Not stated{{question.pk}}">
                                            <span class="center">Not stated</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}      <!-- File adding type question -->
                        {% if question.writing_fl == 'letter'%}     <!-- letter -->
                            <div class="question">
                                <p class="question-number">{{question.question_number}}</p>
	                            <p class="question-text">{{question.question}}</p>
                            </div>
                            <div class="gse-writing">
                                <div class="letter">
                                    <div class="letter_row"><p class="letter_data">{{question.writing_from}}</p></div>
                                    <div class="letter_row"><p class="letter_data">{{question.writing_to}}</p></div>
                                    <div class="letter_row"><p class="letter_data">{{question.writing_subject}}</p></div>
                                    <div class="letter_row"><p class="letter_text">{{question.writing_letter}}</p></div>
                                </div>
                            </div>
                            <div>
                                <p class="question_writing_text">{{question.writing_after}}</p>
                            </div>
                        {% else %}
                            {% if test.part == 'Speaking' %}    <!-- Speaking file adding question -->
                                <div class="question">
                                    <p class="question-number">{{question.question_number}}</p>
	                                <p class="question-text" style="white-space: break-spaces;">{{question.question}}</p>
                                </div>
                                {% if question.media %}
                                    <div class="audio">
                                        <audio controls style="margin: auto;" id="audio{{ question.pk }}">
                                            <source src="{{question.media.url}}">
                                        </audio>
                                    </div>
                                {% endif %}
                                {% if question.picture %}
                                    <p style="text-align: center; font-weight: 600; font-size: 27px;">{{question.text_name}}</p>
                                    <div class="picture">
                                        <img style="width: 80%; margin: auto;" src="{{question.picture.url}}">
                                    </div>
                                {% endif %}
                                {% if question.text %}
                                        {% if question.question_number == 1 %}
                                        <div class="speaking-gse-1-text">
                                        <span class="chapter-text">{{ question.text }}</span>
                                        </div>
                                        {% else %}
                                        <div style="margin-left: 60px;">
                                        <span class="speaking-gse-3-text">{{ question.text }}</span>
                                        </div>
                                        {% endif %}
                                {% endif %}
                                <div class="record-answer">
                                    <p style="text-align:center;">
                                        REMEMBER! You have time limit for this task:
                                        {{ question.time_limit|divide_integral:60 }} minute(s)
                                        {{ question.time_limit|modulus:60 }} seconds
                                    </p>
                                </div>
                            {% else %}  <!-- essay -->
                                <div class="question">
                                    {% if question.question_number > 1 %}
                                    <p class="question-number">2.{{question.question_number|adding:-1}}</p>
                                    {% else %}
                                    <p class="question-number">{{question.question_number}}</p>
                                    {% endif %}
	                                <p class="question-text">{{question.question}}</p>
                                </div>
                                <div class="picture">
                                    <img style="width: 80%; margin: auto;" src="{{question.picture.url}}">
                                </div>
                                <p class="question_writing_text">{{question.writing_after}}</p>
                            {% endif %}
                        {% endif %}
                        {% if test.part == 'Writing' %}
                            <div class="add-files">
                                <div class="file">
                                    <label class="input-file">
                                        <input type="file" name="{{question.pk}}_media1" id="{{question.pk}}_media1">
                                        <span>Choose a file...</span>
                                    </label>
                                </div>
                                {% if test.type == 'USE' and test.part == 'Writing' and question.number > 1 %}
                                <div class="file">
                                    <label for="{{question.pk}}_media2">Additional:</label>
                                    <input type="file" name="{{question.pk}}_media2" id="{{question.pk}}_media2">
                                </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
            <a class="btn btn5" href="{% url 'add_q_and_a' chapter.id %}"><span>Add question to chapter</span></a>
        </div>
    {% endfor %}
    <br><br>
</form>
</div>
</div>

{% endblock content %}

{% block javascript %}
<script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
<script>
    $('.input-file input[type=file]').on('change', function(){
    	let file = this.files[0];
    	$(this).next().html(file.name);
    });
</script>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
// Avoiding duplicating select options
$(document).ready(function() {
    // Handle change event for all select elements
    $('select:not(.special-select)').change(function() {
        var selectedValue = $(this).val();  // Get the selected value

        // Check if the selected value already exists in other selects
        $('select:not(.special-select)').not(this).find('option').filter(function() {
            return $(this).val() === selectedValue;
        }).prop('selected', false);  // Remove selection
    });
});
</script>

<script>
// Highlighting already selected options
$(document).ready(function() {
    var chosenValues = [];  // Initialize the list of chosen values

    // Handle change event for all select elements
    $('select:not(.special-select)').change(function() {
        var selectedValue = $(this).val();  // Get the selected value

        // Update the list of chosen values
        if ($(this).prop('selectedIndex') !== 0) {  // Ignore the default option
            chosenValues.push(selectedValue);
        }

        // Remove value from the list of chosen values if not selected in any select
        chosenValues = chosenValues.filter(function(value) {
            return $('select:not(.special-select)').find('option[value="' + value + '"]:selected').length > 0;
        });

        // Update all select elements
        $('select:not(.special-select)').each(function() {
            // Update option lists and color based on the list of chosen values
            $(this).find('option').each(function() {
                var optionValue = $(this).val();
                if (chosenValues.includes(optionValue)) {
                    $(this).css('background-color', 'red');  // Change the color as needed
                } else {
                    $(this).css('background-color', '');  // Reset the color
                }
            });
        });
    });
});
</script>

{% endblock javascript %}
