{% extends 'galaxy/base.html' %}
{% load galaxy_tags %}
{% load static %}

{% block custom_styles %}
    <link type="text/css" href="{% static 'galaxy/css/tables_general.css' %}" rel="stylesheet"/>
    <link type="text/css" href="{% static 'galaxy/css/show_assessment_tests.css' %}" rel="stylesheet"/>
{% endblock custom_styles %}

{% block content %}

    <div class="parent">
        <div class="outer_table_head">
            <div class="empty"></div>
            <div class="table_head">
                <h1>Assessment {{ assessment.date }}</h1>
            </div>
            <div class="empty"></div>
        </div>
    </div>

    <div class="parent">
        <div class="table">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Test part</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for assessment in assessments %}
                        <tr>
                            <td scope="row">{{ forloop.counter }}</td>
                            <td>{{ assessment.test.part }}</td>
                            {% if assessment.test in results.keys %}
                                {% with result_object=results|get_item:assessment.test %}
                                <td><span>{{ result_object.points }}/{{ max_points_dict|get_item:assessment.test }}</span></td>
                                {% endwith %}
                            {% else %}
                                <td><a class="btn btn5" href="{% url 'test_details' assessment.test.pk %}"><span>Start test</span></a></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock content %}