{% extends 'galaxy/base.html' %}
{% load galaxy_tags %}
{% load static %}

{% block custom_styles %}
    <link type="text/css" href="{% static 'galaxy/css/table.css' %}" rel="stylesheet" />
{% endblock custom_styles %}

{% block content %}
<h1>Group {{ group.name }}</h1>

<div class="parent">
  <div class="table">
      <table class="table">
      <thead>
          <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Surname</th>
              <th scope="col">Username</th>
          </tr>
      </thead>
      <tbody>
      {% for student in participants %}
          <tr>
              {% if page_obj.number %}
                  {% with offset=page_obj.number|add:'-1'|multiply:15 %}
                  <td scope="row">{{ forloop.counter|add:offset }}</td>
                  {% endwith %}
              {% else %}
                  <td scope="row">{{ forloop.counter }}</td>
              {% endif %}
              <td> {{student.first_name}}</td>
              <td>{{student.last_name}}</td>
              <td>{{student.username}}</td>
          </tr>
      {% endfor %}
      </tbody>
      </table>
  </div>
</div>

{% include "galaxy/pagination.html" %}

{% endblock %}