{% extends 'galaxy/base.html' %}
{% load galaxy_tags %}
{% load static %}

{% block custom_styles %}
    <link type="text/css" href="{% static 'galaxy/css/tables_general.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'galaxy/css/show_assessments.css' %}" rel="stylesheet"/>
{% endblock custom_styles %}

{% block content %}

<div class="parent">
    <div class="outer_type_choice">
            <div class="empty"></div>
            <div class="type_choices">
                <div class="type_choice_shell">
                    <div class="type_choice">
                        <input style="display: none;" type="radio" id="Current" name="cat" value="Current">
                        <label for="Current"><span>Scheduled assessments</span></label>
                    </div>
                    <div class="empty"></div>
                </div>
                <div class="type_choice_shell">
                    <div class="type_choice">
                        <input style="display: none;" type="radio" id="Past" name="cat" value="Past">
                        <label for="Past"><span>Past assessments</span></label>
                    </div>
                </div>
            </div>
            <div class="empty"></div>
        </div>
</div>

<div class="parent">
    <div class="table">
        <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Group</th>
                <th scope="col">Date</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
        {% for assessment in assessments %}
            <tr>
                <td scope="row">{{ forloop.counter }}</td>
                <td> {{assessment.group.name}}</td>
                <td> {{assessment.date}}</td>
                {% if assessment.is_opened %}
                    <td>
                        <div class="two_buttons_div">
                            <a class="btn btn5" href="{% url 'open_current_assessment' assessment.id %}"><span>Open</span></a>
                            <a class="btn btn5" href="#" data-assessment-id="{{ assessment.id }}" id="close-assessment-btn"><span>Close</span></a>
                        </div>
                    </td>
                {% else %}
                    <td>
                        <div class="two_buttons_div">
                            <a class="btn btn5 forceopen" data-assessment-id="{{ assessment.id }}" href="#"><span>Open</span></a>
                            <a class="btn btn5 deny" data-assessment-id="{{ assessment.id }}" href="#"><span>Deny</span></a>
                        </div>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
            <tr id="add-assessment-row">
                <td style="border: none;"></td>
                <td style="border: none;"></td>
                <td style="border: none;"></td>
                <td style="border: none;">
                    <button class="btn btn5" id="add-assessment-btn">
                        <span>Add assessment</span>
                    </button>
                </td>
            </tr>
            <tr id="new-assessment-row" class="hidden">
                <td></td>
                <td>
                    <select class="assessment_group_select" id="group" name="group">
                        <option>Choose group</option>
                        {% for group in group_list %}
                          <option value="{{group.pk}}">{{group.name}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td> <p class="datepicker_obj"><input type="text" autocomplete="off" id="datepicker" name="datepicker"></p></td>
                <td>
                    <div class="adding_assessment_actions">
                        <button class="multiple_btn" id="save-assessment-btn"><span>Save assessment</span></button>
                        <button class="multiple_btn" id="cancel-adding-btn"><span>Cancel</span></button>
                    </div>
                </td>
            </tr>
        </tbody>
        </table>
    </div>
</div>

{% include "galaxy/pagination.html" %}

<div class="confirmation-dialog" style="display: none;">
    <div>
        <h2 class="confirmation-question"></h2>
    </div>
    <div class="modal-buttons">
        <button class="multiple_btn_color btn-yes">
            <span>Yes</span>
        </button>
        <button class="multiple_btn_color btn-no">
            <span>No</span>
        </button>
    </div>
</div>

{% endblock content %}

{% block javascript %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

<script>
$(document).ready(function() {
    // Function to initialize datepicker
    function initializeDatepicker() {
        $("#datepicker").datepicker();
    }

    initializeDatepicker(); // Initialize datepicker on page load

    function showConfirmationDialog(question, onConfirm) {
        $('.confirmation-question').text(question);
        $('.confirmation-dialog').show();

        // Bind the confirmation button click event
        $('.btn-yes').off('click').on('click', function() {
            onConfirm();
            $('.confirmation-dialog').hide();
        });

        // Bind the cancel button click event
        $('.btn-no').off('click').on('click', function() {
            $('.confirmation-dialog').hide();
        });
    }

    function denyAssessment(assessmentId) {
        $.ajax({
            url: "{% url 'deny_assessment' %}",
            type: 'POST',
            data: {
                'assessment_id': assessmentId,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {
                console.log('Assessment denied successfully');
                var filter_flag = $('input[name="cat"]:checked').val();
                filterAssessmentsForTeacher(filter_flag);
            },
            error: function(xhr, status, error) {
                console.error('Error denying assessment:', error);
            }
        });
    }

    function closeAssessment(assessmentId) {
        $.ajax({
            url: "{% url 'close_assessment' %}",
            type: 'POST',
            data: {
                'assessment_id': assessmentId,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {
                console.log('Assessment closed successfully');
                var filter_flag = $('input[name="cat"]:checked').val();
                filterAssessmentsForTeacher(filter_flag);
            },
            error: function(xhr, status, error) {
                console.error('Error closing assessment:', error);
            }
        });
    }

    function forceOpenAssessment(assessmentId) {
        $.ajax({
            url: "{% url 'force_open_assessment'%}",
            type: 'POST',
            data: {
                'assessment_id': assessmentId,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {
                console.log('Assessment opened successfully');
                var filter_flag = $('input[name="cat"]:checked').val();
                filterAssessmentsForTeacher(filter_flag);
            },
            error: function(xhr, status, error) {
                console.error('Error opening assessment:', error);
            }
        });
    }

    function filterAssessmentsForTeacher(filter_flag) {
        $.ajax({
            url: "{% url 'filter_assessments_for_teacher' %}",
            type: 'GET',
            data: {
                filter_flag: filter_flag
            },
            success: function(data) {
                // Update the table with the filtered data
                $('.table tbody').html(data.my_content);
                // Update the pagination links
                $('.pagination').html(data.pagination_html);

                // Reinitialize datepicker after content is reloaded
                initializeDatepicker();
            },
            error: function(xhr, status, error) {
                console.error(error);
            }
        });
    }

    // Event handlers
    $(document).on('click', '#add-assessment-btn', function() {
        $('#new-assessment-row').removeClass('hidden');
        $('#add-assessment-row').addClass('hidden');
    });

    $(document).on('click', '#cancel-adding-btn', function() {
        $('#new-assessment-row').addClass('hidden');
        $('#add-assessment-row').removeClass('hidden');
    });

    $(document).on('click', '#save-assessment-btn', function() {
        var group = $('#group').val();
        var date = $('#datepicker').val();
        $.ajax({
            url: "{% url 'save_an_assessment' %}",
            data: { group: group, date: date },
            success: function() {
                var filter_flag = $('input[name="cat"]:checked').val();
                filterAssessmentsForTeacher(filter_flag);
            }
        });
    });

    $(document).on('click', '.deny', function(e) {
        e.preventDefault();
        var assessmentId = $(this).data('assessment-id');
        showConfirmationDialog('Do you really want to deny assessment?', function() {
            denyAssessment(assessmentId);
        });
    });

    $(document).on('click', '#close-assessment-btn', function(e) {
        e.preventDefault();
        var assessmentId = $(this).data('assessment-id');
        showConfirmationDialog('Do you really want to close assessment?', function() {
            closeAssessment(assessmentId);
        });
    });

    $(document).on('click', '.forceopen', function(e) {
        e.preventDefault();
        var assessmentId = $(this).data('assessment-id');
        showConfirmationDialog('Do you really want to open assessment right now?', function() {
            forceOpenAssessment(assessmentId);
        });
    });

    // Changing categories
    $('input[name="cat"]').change(function() {
        var filter_flag = $('input[name="cat"]:checked').val();
        storeStateInSessionStorage(filter_flag);
        filterAssessmentsForTeacher(filter_flag);
    });

    // Function to store state in session storage
    function storeStateInSessionStorage(filter_flag) {
        var state = {
            filter_flag: filter_flag
        };
        sessionStorage.setItem('ShowAssessmentsForTeacher', JSON.stringify(state));
    }

    // Function to retrieve stored state from session storage
    function retrieveStateFromSessionStorage() {
        var stateJSON = sessionStorage.getItem('ShowAssessmentsForTeacher');
        return stateJSON ? JSON.parse(stateJSON) : null;
    }

    // Apply stored state when page is loaded
    var storedState = retrieveStateFromSessionStorage();
    if (storedState) {
        $('#' + storedState.filter_flag).prop('checked', true);
        filterAssessmentsForTeacher(storedState.filter_flag);
    } else {
        // Default behavior if no stored state is found
        var currentCategory = "{{ current_category }}";
        $('#' + currentCategory).prop('checked', true);
    }
});
</script>
{% endblock javascript %}