{% extends 'galaxy/base.html' %}
{% load galaxy_tags %}
{% load static %}

{% block custom_styles %}
    <link type="text/css" href="{% static 'galaxy/css/show_groups.css' %}" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


{% endblock custom_styles %}

{% block content %}

<div class="parent">
    <div class="outer_table_head">
        <div class="empty"></div>
        <div class="table_head">
            <h1>Groups</h1>
        </div>
        <div class="empty"></div>
    </div>
</div>

<div class="parent">
  <div class="table">
      <table class="table">
      <thead>
          <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Type</th>
              <th scope="col">Action</th>
          </tr>
      </thead>
      <tbody>
      {% for group in groups %}
          <tr>
              <td scope="row">{{ forloop.counter }}</td>
              <td class="group-name" data-group-id="{{ group.id }}">
                  <span class="editable">{{ group.name }}</span>
                  <input class="edit-input hidden" type="text" value="{{ group.name }}">
                  <button class="save-btn hidden">Save</button>
                  <button class="cancel-btn hidden">Cancel</button>
              </td>
              <td> {{group.test_type}}</td>
              <td>
                  <div style="display: inline-flex; width: 80%;">
                      <a class="btn btn5" href="{% url 'show_group_participants' group.id %}"><span>Show participants</span></a>
                      <a class="btn btn5" href="{% url 'delete_group' group.id %}"><span>Delete</span></a>
                  </div>
              </td>
          </tr>
      {% endfor %}
      <tr id="add-group-row">
              <td style="border: none;"></td>
              <td style="border: none;"></td>
              <td style="border: none;"></td>
              <td style="border: none;"><a class="btn btn5" id="add-group-btn"><span>+Add group</span></a></td>
      </tr>
      <tr id="new-group-row" class="hidden">
          <td></td>
          <td><input class="dark-input" type="text" id="new-group-name"></td>
          <td>
              <select id="new-group-test-type">
                  <option></option>
                  <option value="GSE">GSE</option>
                  <option value="USE">USE</option>
              </select>
          </td>
          <td>
              <div style="display: inline-flex; width: 60%;">
                  <a class="btn btn5" id="save-group-btn"><span>Save</span></a>
                  <a class="btn btn5" id="delete-group-btn"><span>Close</span></a>
              </div>
          </td>
      </tr>
      </tbody>
      </table>
  </div>
</div>

{% endblock content %}


{% block javascript %}

<script>
    const addGroupBtn = document.getElementById('add-group-btn');
    const newGroupRow = document.getElementById('new-group-row');
    const deleteGroupBtn = document.getElementById('delete-group-btn');
    const saveGroupBtn = document.getElementById('save-group-btn');
    const groupNameInput = document.getElementById('new-group-name');
    const groupTestType = document.getElementById('new-group-test-type');
    const addGroupRow = document.getElementById('add-group-row');

    addGroupBtn.addEventListener('click', () => {
        newGroupRow.classList.remove('hidden');
        addGroupRow.classList.add('hidden');
    });

    deleteGroupBtn.addEventListener('click', () => {
        newGroupRow.classList.add('hidden');
        addGroupRow.classList.remove('hidden');
    });

    saveGroupBtn.addEventListener('click', () => {
        const groupName = groupNameInput.value;
        const groupType = groupTestType.value;
        if (groupName && groupType) {
            $.ajax({
                url: "{% url 'add_group' %}",
                data: {name: groupName, test_type: groupType},
                success: function() {
                    location.reload();
                }
            });
        }
    });

    // Add click event listener to each group name
    const groupNames = document.querySelectorAll('.group-name');
    groupNames.forEach((groupName) => {
        const editable = groupName.querySelector('.editable');
        const editInput = groupName.querySelector('.edit-input');
        const saveBtn = groupName.querySelector('.save-btn');
        const cancelBtn = groupName.querySelector('.cancel-btn');

        editable.addEventListener('click', () => {
            // Toggle between view and edit modes
            editable.classList.add('hidden');
            editInput.classList.remove('hidden');
            saveBtn.classList.remove('hidden');
            cancelBtn.classList.remove('hidden');
        });

        // Handle cancel button click
        cancelBtn.addEventListener('click', () => {
            editable.classList.remove('hidden');
            editInput.classList.add('hidden');
            saveBtn.classList.add('hidden');
            cancelBtn.classList.add('hidden');
        });

        // Handle save button click
        saveBtn.addEventListener('click', () => {
            const groupId = groupName.getAttribute('data-group-id');
            const newGroupName = editInput.value;
            // Send an AJAX request to update the group name
            $.ajax({
                url: "{% url 'update_group_name' %}",
                data: {
                    group_id: groupId,
                    new_name: newGroupName,
                },
                success: function() {
                    // Update the view with the new group name
                    editable.textContent = newGroupName;
                    editable.classList.remove('hidden');
                    editInput.classList.add('hidden');
                    saveBtn.classList.add('hidden');
                    cancelBtn.classList.add('hidden');
                },
            });
        });
    });
</script>
{% endblock javascript %}