{% extends 'galaxy/base.html' %}
{% load static %}
{% load galaxy_tags %}

{% block custom_styles %}

    <link type="text/css" href="{% static 'galaxy/css/tests_and_assessments.css' %}" rel="stylesheet"/>
    <link type="text/css" href="{% static 'galaxy/css/pagination.css' %}" rel="stylesheet"/>

{% endblock custom_styles %}

{% block content %}

<div class="parent">
    <div class="outer_type_choice">
            <div class="empty"></div>
            <div class="type_choices">
                <div class="type_choice_shell">
                    <div class="type_choice">
                        <input style="display: none;" type="radio" id="Training" name="cat" value="Training">
                        <label for="Training"><span>Training tests</span></label>
                    </div>
                    <div class="empty"></div>
                </div>
                <div class="type_choice_shell">
                    <div class="type_choice">
                        <input style="display: none;" type="radio" id="Assessment" name="cat" value="Assessment">
                        <label for="Assessment"><span>Assessment tests</span></label>
                    </div>
                </div>
            </div>
            <div class="empty"></div>
        </div>
</div>

<div class="parent">
    <div class="outer_show_all">
            <div class="empty"></div>
                <div class="show_all">
                    <input style="display: none;" type="checkbox" id="ALL"  value="ALL">
                    <label for="ALL"><span>Show all</span></label>
                </div>
            <div class="empty"></div>
    </div>
</div>

<div class="parent">
    <div class="outer_type_choice">
        <div class="empty"></div>
        <div class="type_choices">
            <div class="type_choice_shell">
                <div class="type_choice">
                    <input style="display: none;" type="checkbox" id="GSE"  value="GSE">
                    <label for="GSE"><span>GSE</span></label>
                </div>
                <div class="empty"></div>
            </div>
            <div class="type_choice_shell">
                <div class="type_choice">
                    <input style="display: none;" type="checkbox" id="USE"  value="USE">
                    <label for="USE"><span>USE</span></label>
                </div>
            </div>
        </div>
        <div class="empty"></div>
    </div>
</div>

<div class="parent">
    <div class="outer_part_choice">
        <div class="empty"></div>
        <div class="part_choices">
            <div class="part_choice_shell">
                <div class="part_choice">
                    <input style="display: none;" type="checkbox" id="Listening" value="Listening">
                    <label for="Listening"><span>Listening</span></label>
                </div>
                <div class="empty"></div>
            </div>
            <div class="part_choice_shell">
                <div class="part_choice">
                    <input style="display: none;" type="checkbox" id="Reading" value="Reading">
                    <label for="Reading"><span>Reading</span></label>
                </div>
                <div class="empty"></div>
            </div>
            <div class="part_choice_shell">
                <div class="part_choice">
                    <input style="display: none;" type="checkbox" id="Grammar" value="Grammar">
                    <label for="Grammar"><span>Grammar</span></label>
                </div>
                <div class="empty"></div>
            </div>
            <div class="part_choice_shell">
                <div class="part_choice">
                    <input style="display: none;" type="checkbox" id="Writing" value="Writing">
                    <label for="Writing"><span>Writing</span></label>
                </div>
                <div class="empty"></div>
            </div>
            <div class="part_choice_shell">
                <div class="part_choice">
                    <input style="display: none;" type="checkbox" id="Speaking" value="Speaking">
                    <label for="Speaking"><span>Speaking</span></label>
                </div>
            </div>
        </div>
        <div class="empty"></div>
    </div>
</div>


<div class="parent">
    <div class="table">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Type</th>
                    <th scope="col">Part</th>
                    <th scope="col">Test number</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
            {% for test in tests %}
                <tr>
                    {% if page_obj.number %}
                        {% with offset=page_obj.number|add:'-1'|multiply:pagination_number %}
                        <td scope="row">{{ forloop.counter|add:offset }}</td>
                        {% endwith %}
                    {% else %}
                        <td scope="row">{{ forloop.counter }}</td>
                    {% endif %}
                    <td>{{test.type}}</td>
                    {% if test.part == 'Grammar and Vocabulary' %}
                    <td>Grammar</td>
                    {% else %}
                    <td>{{test.part}}</td>
                    {% endif %}
                    <td>{{test.test_num}}</td>
                    <td>
                        <div style="display: flex; justify-content: space-evenly;">
                            <a class="multiple_btn" href="{% url 'show_test' test.id %}"><span>Open</span></a>
                            <a class="multiple_btn" href="#"><span>Edit</span></a>
                            <a class="multiple_btn delete" href="#" data-test-id="{{ test.id }}"><span>Delete</span></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
                <tr>
                    <td style="border: none;"></td>
                    <td style="border: none;"></td>
                    <td style="border: none;"></td>
                    <td style="border: none;"></td>
                    <td style="border: none;"><a class="btn btn5" href="{% url 'add_test' %}"><span>Add test</span></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="confirmation-dialog" style="display: none;">
    <h2>Do you really want to delete this test?</h2>
    <div class="modal-buttons">
        <button class="multiple_btn_color btn-yes">
            <span>Yes</span>
        </button>
        <button class="multiple_btn_color btn-no">
            <span>No</span>
        </button>
    </div>
</div>

{% include "galaxy/pagination.html" %}

{% endblock %}

{% block javascript %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
// Define filterTestsAndAssessments function outside of jQuery document ready
function filterTestsAndAssessments(filter_flag, checkboxes) {
    $.ajax({
        url: "{% url 'filter_tests_and_assessments' %}",
        type: 'GET',
        data: {
            filter_flag: filter_flag,
            checkboxes: checkboxes.join()
        },
        success: function(data) {
            $('.table tbody').html(data.my_content);
        },
        error: function(xhr, status, error) {
            console.error(error);
        }
    });
}

// Remaining jQuery code inside document ready
$(document).ready(function() {
    // Pre-coloring chosen category
    var currentCat = "{{current_category}}";
    $('#' + currentCat).prop('checked', true);

    // Listening for clicks on type radio buttons
    $('input[name="cat"]').change(function() {
        var filter_flag = $('input[name="cat"]:checked').val();
        updateFilters(filter_flag);
    });

    // Listening for clicks on type checkboxes
    $('input[type="checkbox"]').change(function() {
        // If "Show all" checkbox is clicked, uncheck all other checkboxes
        if ($(this).attr('id') === 'ALL') {
            $('input[type="checkbox"]').not(this).prop('checked', false);
        } else {
            // If any other checkbox is clicked, uncheck the "Show all" checkbox
            $('#ALL').prop('checked', false);
        }
        var filter_flag = $('input[name="cat"]:checked').val();
        updateFilters(filter_flag);
    });

    // Function to update filters and trigger filtering
    function updateFilters(filter_flag) {
        var checkedCheckboxes = getCheckedCheckboxes();
        storeStateInSessionStorage(filter_flag, checkedCheckboxes);
        filterTestsAndAssessments(filter_flag, checkedCheckboxes);
    }

    // Function to get checked checkboxes
    function getCheckedCheckboxes() {
        var checkedCheckboxes = [];
        // If "Show all" checkbox is checked, add its value to the array
        if ($('#ALL').is(':checked')) {
            checkedCheckboxes.push($('#ALL').val());
        } else {
            // Loop through each checked checkbox and add its value to the array
            $('input[type="checkbox"]:checked').not('#ALL').each(function() {
                checkedCheckboxes.push($(this).val());
            });
        }
        return checkedCheckboxes;
    }

    // Function to store state in session storage
    function storeStateInSessionStorage(filter_flag, checkedCheckboxes) {
        var state = {
            filter_flag: filter_flag,
            checkedCheckboxes: checkedCheckboxes
        };
        sessionStorage.setItem('TestsAndAssessments', JSON.stringify(state));
    }

    // Function to retrieve stored state from session storage
    function retrieveStateFromSessionStorage() {
        var stateJSON = sessionStorage.getItem('TestsAndAssessments');
        return stateJSON ? JSON.parse(stateJSON) : null;
    }

    // Function to apply stored state to the page
    function applyStoredState(state) {
        if (state) {
            $('input[name="cat"][value="' + state.filter_flag + '"]').prop('checked', true);
            state.checkedCheckboxes.forEach(function(checkbox) {
                $('#' + checkbox).prop('checked', true);
            });

            filterTestsAndAssessments(state.filter_flag, state.checkedCheckboxes);
        } else{
            // By default, check the "Show all" checkbox
            $('#ALL').prop('checked', true);
        }
    }

    // Apply stored state when page is loaded or navigated back to
    var storedState = retrieveStateFromSessionStorage();
    applyStoredState(storedState);
});
</script>

<script>
$(document).ready(function() {
    // Function to get checked checkboxes
    function getCheckedCheckboxes() {
        var checkedCheckboxes = [];
        // If "Show all" checkbox is checked, add its value to the array
        if ($('#ALL').is(':checked')) {
            checkedCheckboxes.push($('#ALL').val());
        } else {
            // Loop through each checked checkbox and add its value to the array
            $('input[type="checkbox"]:checked').not('#ALL').each(function() {
                checkedCheckboxes.push($(this).val());
            });
        }
        return checkedCheckboxes;
    }

    // Event delegation for handling click on delete buttons
    $(document).on('click', '.multiple_btn.delete', function(e) {
        e.preventDefault();
        var testId = $(this).data('test-id');
        var filter_flag = $('input[name="cat"]:checked').val(); // Get filter_flag value
        // Show confirmation dialog
        $('.confirmation-dialog').show();

        // Event listener for Yes button
        $('.btn-yes').click(function() {
            deleteTest(testId, filter_flag); // Pass filter_flag to deleteTest
            $('.confirmation-dialog').hide();
        });

        // Event listener for No button
        $('.btn-no').click(function() {
            $('.confirmation-dialog').hide();
        });
    });

    // Function to delete the test via AJAX
    function deleteTest(testId, filter_flag) {
        var checkedCheckboxes = getCheckedCheckboxes(); // Get checked checkboxes
        // Your AJAX call to delete the test
        $.ajax({
            url: "{% url 'delete_test' %}",
            type: 'POST',
            data: {
                'test_id': testId,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {
                console.log('Test deleted successfully');
                filterTestsAndAssessments(filter_flag, checkedCheckboxes); // Pass filter_flag and checkedCheckboxes to filterTestsAndAssessments
            },
            error: function(xhr, status, error) {
                console.error('Error deleting test:', error);
            }
        });
    }
});

</script>
{% endblock %}
