{% extends 'galaxy/base.html' %}

{% block custom_styles %}
<style>
.test{
    padding: 40px;
    background-color: #000000c9;
    width: 55%;
    margin: auto;
    text-align: center;
}
.test-parent{
    padding: 30px;
}
.question{
    padding: 50px;
}
.question-choices{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 5%;
    font-size: 17px;
    padding-top: 20px;
}
.time-counter{
    text-align: center;
    position: fixed;
    right: 50px;
    top: 20%;
    width: 100px;
    padding: 20px;
    background-color: #000000c9;
}
/* Default radio view */
.question-choice label{
    padding: 20px;
    border: 2px solid #FFFFFF;
    display: inline-block;
    padding: 15px 32px;
    font-size: 15px;
    border-radius: 2px;
}
/* Hide the browser's default checkbox */
.question-choices input {
    display: none;
}
/* Checked radio */
.question-choices input:checked + label{
    color: #54514f;
    border: 2px solid #54514f;
}

.warning {
    width: 30%;
    height: 20%;
    text-align: center;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #242324;
    padding: 20px;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
}

</style>
{% endblock %}

{% block content %}
<div class="test-parent">
<div class="test">
<h1>Test {{test.type }} {{test.part}} {{test.test_num}}</h1>
{% if test.media %}
    <p>Audio</p>
    <audio controls src="{{test.media.url}}"></audio>
{% endif %}
<form action="{% url 'test' test.pk %}" method="post" id="my_form">
  {% csrf_token %}
  <div class="form errors">{{ form.non_field_errors }}</div>

          {% for question, answers in qa.items %}
          <div class="question">
          {% if question.question_type == 'match_type' %}
                  <h2>{{ forloop.counter }}. {{question.question}}</h2>
                  {% for answer, answer_list in answers.items %}
                  {% if forloop.first %}
                      {% for item in answer_list %}
                      <h2>{{ forloop.counter }}:{{item}}</h2>
                      {% endfor %}
                      {% if answer.addition != 'None' %}
                          <h2>Вывод текстов под буквами</h2>
                      {% endif %}
                  {% endif %}
                        <div class="match_type">
                        <label>{{answer.match}}</label>
                        <select name="{{answer.pk}}">
                            <option>Выберите ответ</option>
                            {% for item in answer_list %}
                            <option value="{{item}}">{{ forloop.counter }}</option>
                            {% endfor %}
                        </select>
                        </div>
                  {% endfor %}
          {% elif question.question_type == 'input_type'%}
                  <h2>{{ forloop.counter }}. {{question.question}}</h2>
                  <div class="input_type">
                      <label>{{answers.addition}}</label>
                      <br>
                      <input type="text" name="{{answers.pk}}">
                  </div>
          {% else %}
                  <div class="question_radio">
                  <h2>{{ forloop.counter }}. {{question.question}}</h2>
                  <div class="question-choices">
                  {% for answer in answers %}
                        <div class="question-choice">
                            <input type="radio" id="{{answer.pk}}" name="{{question.pk}}" value="{{answer.pk}}">
                            <label for="{{answer.pk}}">
                                <span>{{ answer.answer }}</span>
                            </label>
                        </div>
                  {% endfor %}
                  </div>
                  </div>
          {% endif %}
          </div>
          {% endfor %}

<br><br>
<input class="btn" style="border-radius: 0%;"  type="submit" value="Submit Answers">
</form>


</div>
<div class="time-counter"><p id="demo"></p></div>
</div>
<div class="warning" id="warning">
  <h2>Warning: Only 5 minutes left!</h2>
    <input type="button" class="btn" name="answer" value="Got it" onclick="closeDiv()" />
</div>
<script>
  function closeDiv() {
   document.getElementById('warning').style.display = "none";
}

  // Get today's date and time
  var now = new Date().getTime();

  // Set the date we're counting down to
  var countDownDate = new Date(1000 * {{start_time}} + {{test.time_limit}}*60000).getTime();

  // Set the warning time to 5 minutes before the end of the countdown
  var warningTime = new Date(1000 * {{start_time}} + {{test.time_limit}}*60000 - 5*60000).getTime();

  var warningShown = false;

// Update the countdown every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();

  // Find the distance between now and the countdown date
  var distance = countDownDate - now;



  // Time calculations for days, hours, minutes and seconds
  //var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Output the result in an element with id="demo"
  document.getElementById("demo").innerHTML = hours + "h "
  + minutes + "m " + seconds + "s ";

  // If the count down is over, submit form
  if (distance < 0) {
    document.getElementById("my_form").submit()
  }
  // Check if there are 5 minutes left
  if (now > warningTime && !warningShown) {
    // Show the warning modal
    warningShown = true;
    var warningMsg = document.getElementById("warning");
    warningMsg.style.display = "block";
  }
}, 1000);

</script>

{% endblock %}