{% extends 'galaxy/base.html' %}

{% block custom_styles %}
<style>

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: center;
  padding: 8px;
}

th, td {
  background-color: #000000c9;
}

h1 {
    text-align: center;
}

div.parent {
  display: flex;
  justify-content: center;
}

div.table {
  width: 40%;
}

</style>

{% endblock %}

{% block content %}
<h1>Available Courses</h1>

<div class="parent">
  <div class="table">
      <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Type</th>
          <th scope="col">Part</th>
          <th scope="col">Total questions</th>
          <th scope="col">Link</th>
        </tr>
      </thead>
      <tbody>
      {% for test in tests %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
            <td> {{test.type}}</td>
            <td>{{test.part}}</td>
            <td>{{test.test_num}}</td>
            <td><a href="#">Open</a></td>
        </tr>

      {% endfor %}
      </tbody>
      </table>
  </div>
</div>
{% endblock %}