{% extends "galaxy/base.html" %}

{% block custom_styles %}
<style>

</style>
{% endblock %}

{% block content %}
<div class="outer">
    <div class="dark-frame">
        {% if unfinished_try == 0 %}
            <p>
                {{test.test_info}}
            </p>
            <p>
                Рекомендуемое время на выполнение заданий данного раздела – {{test.time_limit}} минут.
            </p>
            <br><br>

            <a class="btn btn5" href="{% url 'test' test.pk %}">
                <span>Begin test</span>
            </a>
        {% else %}
            <p>
                Вы не завершили предыдущюю попытку.
            </p>
            <br><br>

            <a class="btn" href="{% url 'test' test.pk %}">Resume</a>
        {% endif %}
    </div>
</div>
{% endblock %}