{% extends 'galaxy/base.html' %}

{% block custom_styles %}

{% endblock %}

{% block content %}
<h1>Test {{test.type }} {{test.part}} {{test.test_num}}</h1>

<form action="{% url 'test' test.pk %}" method="post">
  {% csrf_token %}
  <div class="form errors">{{ form.non_field_errors }}</div>

          {% for question, answers in qa.items %}
          {% if question.question_type == 'match_type' %}
                  <h2>{{question.question}}</h2>
                  {% for answer, answer_list in answers.items %}
                        <div class="match_type">
                        <label>{{answer.addition}}</label>
                        <select name="{{answer.pk}}">
                            <option>Выберите пункт</option>
                            {% for item in answer_list %}
                            <option value="{{item}}">{{item}}</option>
                            {% endfor %}
                        </select>
                        </div>
                  {% endfor %}
          {% elif question.question_type == 'input_type'%}
                  <h2>{{question.question}}</h2>
                  <div class="input_type">
                      <label>{{answers.addition}}</label>
                      <br>
                      <input type="text" name="{{question.pk}}">
                  </div>
          {% else %}
                  <h2>{{question.question}}</h2>
                  {% for answer in answers %}
                        <label>
                            <input type="radio" name="{{question.pk}}" value="{{answer.pk}}">
                            {{ answer.answer }}
                        </label>
                  {% endfor %}
          {% endif %}
          {% endfor %}

<br><br>
<input class="btn btn-success btn-lg" style="border-radius: 0%;"  type="submit" value="Submit Answers">
</form>

<p id="demo"></p>

<script>

  // Get today's date and time
  var now = new Date().getTime();

  // Set the date we're counting down to
  var countDownDate = new Date(1000 * {{start_time}} + 30*60000).getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDownDate - now;



  // Time calculations for days, hours, minutes and seconds
  //var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Output the result in an element with id="demo"
  document.getElementById("demo").innerHTML = hours + "h "
  + minutes + "m " + seconds + "s ";

  // If the count down is over, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "EXPIRED";
  }
}, 1000);
</script>

{% endblock %}