{% extends "galaxy/base.html" %}

{% block custom_styles %}
<style>
.test{
    padding: 40px;
    background-color: #000000c9;
    width: 50%;
    margin: auto;
    text-align: center;

}

.outer {
    display: flex;
    height: 70%;
}

a {
    text-decoration: none;
}
p {
    font-size: 17px;
}
</style>
{% endblock %}

{% block content %}
<div class="outer">
    <div class="test">
        {% if test.start_time == 0 %}
            <p>
                {{test.test_info}}
            </p>
            <p>
                Рекомендуемое время на выполнение заданий данного раздела – {{test.time_limit}} минут.
            </p>
            <br><br>

            <a class="btn" href="{% url 'test' test.pk %}">Begin test</a>
        {% else %}
            <p>
                Вы не завершили предыдущюю попытку.
            </p>
            <br><br>

            <a class="btn" href="{% url 'test' test.pk %}">Resume</a>
        {% endif %}
    </div>
</div>
{% endblock %}