:root {
  --dark-transparent: #000000e3;
  --gray-hover: #54514f;
}

.auth_window{
  padding: 40px;
  background-color: var(--dark-transparent);
  position: fixed; top: 50%; left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 15%;
}
.center{
    display: flex;
}
.auth_line input{
    width: 85%;
    background: plum;
    border: none;
    height: 40px;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
    padding: 0;
    text-align: center;
}
.auth_line{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    position: relative;
}

.auth_line input:hover, .auth_line input:focus{
    background: #6260a7;
}
input{ 
    text-indent: 10px; 
}


.show_hide_pass{
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translateY(-50%);
}

.eye_button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    top: 0px; left: 5px;
    width: 30px;
    height: 30px;
}
.eye_button.moon {
    background-image: url('../images/moon.png');
}
.eye_button.sun {
    background-image: url('../images/sunny.png');
}
.tooltip {
    visibility: hidden;
    width: 120px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.2s;
}
.eye_button:hover .tooltip {
    visibility: visible;
    opacity: 1;
}
.login_center_button{
    display: flex;
    margin-top: 30px;
}
.login_button{
    width: 85%;
    padding: 0;
    background: plum;
    border-radius: 5px;
    height: 40px;
    border: none;
    font-size: 20px;
}
.login_button:hover{
    background: #6260a7;
}
.forgot_pass{
    font-size: 18px;
}
h1{
    margin: 0px 0px 0px 0px;
}
form{
    padding-top: 0px;
}
.center{
    margin-top: 30px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px plum inset !important;
}
.invalid-feedback{
    display: flex;
    align-items: center;
    background: brown;
    margin-top: 0px;
    position: absolute;
    left: 110%;
    width: max-content;
    font-size: 18px;
    height: 40px;
    border-radius: 5px;
    padding: 0 10px 0 10px;
}
.disabled_button{
    margin-top: 0px;
}