:root {
  --dark-transparent: #000000e3;
  --gray-hover: #54514f;
}

div.table {
  width: 90%;
}

.outer_table_head{
  width: 90%;
}

.two_link_shell {
  display: inline-flex;
  width: 90%;
}   

.button_shell {
  margin: auto;
}