header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  width: 100px;
}

nav ul {
  list-style: none;
  background-color: #000000c9;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  position: relative;
  padding-right: 40px;
  padding-left: 40px;
}

nav a {
  display: block;
  padding: 10px;
  color: #ffffff;
  text-decoration: none;
}

nav a:hover {
  color: #c9b4b4;
}

nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
  width: 100%;
}

nav ul ul li {
  margin: 0;
  
  min-width: unset !important;
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
}

nav ul ul a {
  padding: 10px;
  color: #ffffff;
}

nav ul li:hover > ul {
  display: block;
}



nav ul ul ul {
  left: 100%;
  top: 0;
}