:root {
  --dark-transparent: #000000e3;
  --gray-hover: #54514f;
}
header {
  align-items: center;
  padding: 20px;
}

.logo {
  padding: 0;
}
.menu-left{
  display: flex;
}
.menu-right{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav ul {
  list-style: none;
  background-color: var(--dark-transparent);
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
}
nav li {
  position: relative;
  padding-right: 40px;
  padding-left: 40px;
  display: flex;
}
.first-row{
  height: 70px;
}

nav a {
  display: block;
  padding: 10px;
  color: #ffffff;
  text-decoration: none;
  margin: auto;
}

nav a:hover {
  color: #54514f;
}

nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
  width: 100%;
}

nav ul ul li {
  margin: 0;
  
  min-width: unset !important;
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
}

nav ul ul a {
  padding: 10px;
  color: #ffffff;
}

nav ul li:hover > ul {
  display: block;
}


nav ul ul ul {
  left: 100%;
  top: 0;
}

.btn {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.8s ease;
  position: relative;
  border: 2px solid #ffffff;
  margin: auto;
  font-size: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.btn::before,
.btn::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
}
.btn5 {
  overflow: hidden;
  transition: all 300ms ease;
}
.btn5:after {
  width: 300%;
  height: 300%;
  left: -300%;
  transform: rotate(0deg);
  background-color: #ffffff;
  transition: all 500ms ease;
}
.btn5 span{
  margin: 20px;
}
.btn5:hover span{
  color: #000000;
  z-index: 10;
  font-weight: 500;
}
.btn5:hover::after {
  left: -100%;
}

a {
    text-decoration: none;
}
a:hover {
  color: var(--gray-hover);
}
.table{
  font-size: 18px;
}
