.question-add{
    width: 90%;
    height: 150px;
}
.chapter-info-add{
    width: 90%;
    height: 150px;
}
.chapter-info-add{
    resize: none;
    overflow: hidden;
    width: 90%;
    min-height: 200px;
}
.chapter-text-add{
    resize: none;
    overflow: hidden;
    width: 90%;
    min-height: 200px;
}
.chapter-text-name-add{
    min-width: 30%;
}
p{
    display: flex;
}
label{
    padding-right: 10px;
}
.test-form{
    font-size: 25px;
}
h3{
    font-size: 25px;
}
.chapter{
    font-size: 25px;
}
input{
    font-size: 20px;
}
textarea{
    font-size: 18px;
}
input[type='checkbox']{
    width: 20px;
    height: 20px;
}