:root {
  --dark-transparent: #000000e3;
  --blue-transparent: #365a99e3;
  --white-transparent: #fbfbfbe6;
  --gray-hover: #54514f;
}

a {
  text-decoration: none;
  color: white;
}

.table_cell_outer{
  width: 70%;
  font-size: 25px;
}

.table_cell{
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid white;
  background-color: var(--blue-transparent);
}

.year_cell{
 display: flex;
 border-bottom: 2px solid white;
}

.year_str{
  display: flex;
  border-bottom: 2px solid white;
}

.year_obj{
  width: 15%;
  border-right: 2px solid white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.year_obj span{
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  min-height: 40px;
}

.year_obj:hover{
  color: grey;
}

.stages_cell{
  width: 85%;

}

.stage_obj{
  width: 25%;
  text-align: center;
  display: flex;
  align-items: center;
  border-right: 2px solid;
}

.stage_obj span{
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  min-height: 40px;
}

.stage_obj span:hover{
  color: grey;
}

.stage_cell{
  display: flex;
}

.classes_cell{
  width: 75%;
}
.class{
  display: flex;
}

.class_element{
  width: 20%;
  text-align: center;
  border-right: 2px solid;
}

.class_element a{
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  min-height: 40px;
}

.class_element span{
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  min-height: 40px;
}

.class_element a:hover{
  color: grey;
}

.audio_element{
  width: 20%;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  min-height: 40px;
}

.audio_element a:hover{
  color: grey;
}

