:root {
    --dark-transparent: #000000e3;
    --blue-transparent: #365a99e3;
    --white-transparent: #fbfbfbe6;
    --gray-hover: #54514f;
}

.current{
    background-color: var(--white-transparent);
    color: var(--blue-transparent);
}
.another_category{
    background-color: var(--blue-transparent);
    color: var(--white-transparent);
}
.category a{
    color: var(--white-transparent);
}
.category a:hover{
    color: grey;
}

.table_string{
    width: 70%;
    display: flex;
    border-top: 2px solid var(--white-transparent);
    border-bottom: 2px solid var(--white-transparent);
}

.empty_table_span{
    width: 100%;
    background-color: var(--blue-transparent);
    display: flex;
    justify-content: center;
}

.empty_table_span span{
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.outer_type_choice{
    width: 70%;
    display: flex;
    border-top: 2px solid;
}
.type_choices{
    width: 100%;
    display: flex;
}
.type_choice_shell{
    width: 50%;
    display: flex;
}
.type_choice{
    width: 100%;
    text-align: center;
    font-size: 22px;
}
.type_choice label{
    display: flex;
    width: 100%;
    background-color: var(--blue-transparent);
}

.type_choice label:hover{
    color: grey;
}
.type_choice input:checked + label{
    background-color: var(--white-transparent);
    color: var(--blue-transparent);
}
.type_choice span{
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

.content_part{
    display: flex;
    justify-content: center;
    width: 100%;
}
.content_part a{
    color: var(--white-transparent);
}

td:nth-child(2) {
    width: 45%;
}

td:nth-child(3) {
    width: 45%;
}